{%- if settings.collection_sidebar == 'left' -%}
{%- case settings.collection_sidebar_size -%}
{% when 'small' %}
{%- assign class_main = 'col-sm-10 col-sm-push-2' -%}
{%- assign class_sidebar = 'col-sm-2 col-sm-pull-10' -%}
{% when 'medium' %}
{%- assign class_main = 'col-sm-9 col-sm-push-3' -%}
{%- assign class_sidebar = 'col-sm-3 col-sm-pull-9' -%}
{% when 'large' %}
{%- assign class_main = 'col-sm-8 col-sm-push-4' -%}
{%- assign class_sidebar = 'col-sm-4 col-sm-pull-8' -%}
{%- endcase -%}
{%- elsif settings.collection_sidebar == 'right' -%}
{%- case settings.collection_sidebar_size -%}
{% when 'small' %}
{%- assign class_main = 'col-sm-10' -%}
{%- assign class_sidebar = 'col-sm-2' -%}
{% when 'medium' %}
{%- assign class_main = 'col-sm-9' -%}
{%- assign class_sidebar = 'col-sm-3' -%}
{% when 'medium' %}
{%- assign class_main = 'col-sm-8' -%}
{%- assign class_sidebar = 'col-sm-4' -%}
{%- endcase -%}
{%- else -%}
{%- assign class_main = 'col-sm-12' -%}
{%- endif -%} 
{%- if settings.collection_different_grid == false -%}
{%- case settings.collection_view_column -%}
{%- when '2' -%}
{%- assign colum_width = 'col-xs-6 col-sm-4 col-md-6' -%}
{%- when '3' -%}
{%- assign colum_width = 'col-xs-6 col-sm-4 col-md-4' -%}
{%- when '4' -%}
{%- assign colum_width = 'col-xs-6 col-sm-4 col-md-3' -%}
{%- when '6' -%}
{%- assign colum_width = 'col-xs-6 col-sm-4 col-md-2' -%}
{%- endcase -%}
{%- endif -%}
{%- case settings.collection_hover_product -%}
{%- when 'base' -%}
{%- assign pl_include = 'section_hover_product_base' -%} 
{%- when 'alt' -%}
{%- assign pl_include = 'section_hover_product_alt' -%}
{%- when 'info' -%}
{%- assign pl_include = 'section_hover_product_info' -%}
{%- when 'info-alt' -%}
{%- assign pl_include = 'section_hover_product_info_alt' -%}
{%- when 'button' -%}
{%- assign pl_include = 'section_hover_product_button' -%}
{%- when 'icon' -%}
{%- assign pl_include = 'section_hover_product_icon' -%}
{%- when 'standard' -%}
{%- assign pl_include = 'section_hover_product_standard' -%} 
{%- when 'quick' -%}
{%- assign pl_include = 'section_hover_product_quick' -%}
{%- when 'tiled' -%}
{%- assign pl_include = 'section_hover_product_tiled' -%}
{%- endcase -%} 
{%- if template.suffix != blank -%}
{%- assign template_suffix = template.suffix -%}
{%- assign check_template_list = true -%} 
{%- else -%}
{%- assign check_template_list = false -%} 
{%- endif -%}
{% paginate collection.products by limit %}  
<div class="woodmart-products-element"> 
  <div class="products elements-grid woodmart-products-holder woodmart-spacing-{{settings.space_product}} products-spacing-{{settings.space_product}} pagination-{{settings.collection_pagination}} row grid-columns-{{settings.collection_view_column}} {% if settings.collection_masonry_grid != blank %}grid-masonry{% endif%}" data-paged="{{paginate.current_page}}">
    {%- for product in collection.products -%}    
    {%- assign sold_out = true -%}
    {%- if product.available -%}
    {%- assign sold_out = false -%}
    {%- endif -%}
    {%- assign on_sale = false -%}
    {%- if product.compare_at_price_min > product.price_min -%}
    {%- assign on_sale = true -%}
    {%- endif -%}
    {%- assign variant_tmp = product.selected_or_first_available_variant -%}
    {%- for variant in product.variants -%}
    {%- if variant.available == true and variant.price < variant_tmp.price -%}
    {%- assign variant_tmp = variant -%}	
    {%- endif -%}
    {%- endfor -%}
    {%- case settings.collection_aspect_ratio -%}
    {%- when '1' -%}
    {%- assign image_width = settings.collection_ratio_width -%}
    {%- assign image_height = '' -%} 
    {%- else -%}
    {%- assign image_width = settings.collection_ratio_width -%}
    {%- assign image_height = settings.collection_ratio_height -%}
    {%- endcase -%}  
    {%- if settings.collection_different_grid == false -%}
    {%- capture image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%}
    {%- endif -%}
    {%- if settings.collection_different_grid -%}
    {%- case settings.collection_view_column -%}
    {%- when '2' -%}
    {%- capture colum_width -%}
    {%- cycle 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6','col-xs-6 col-sm-4 col-md-12', 'col-xs-6 col-sm-4 col-md-12', 'col-xs-6 col-sm-4 col-md-12', 'col-xs-6 col-sm-4 col-md-12','col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-12', 'col-xs-6 col-sm-4 col-md-12','col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6' -%}
    {%- endcapture -%}
    {%- capture image_size -%}
    {%- if settings.collection_aspect_ratio == '0' -%}
    {%- cycle '600x600', '600x600', '600x600', '600x600','1200x1200', '1200x1200', '1200x1200', '1200x1200','600x600', '600x600', '600x600', '600x600', '1200x1200', '1200x1200','600x600', '600x600', '600x600', '600x600' -%}
    {%- else -%}
    {%- cycle '600x', '600x', '600x', '600x','1200x', '1200x', '1200x', '1200x','600x', '600x', '600x', '600x', '1200x', '1200x','600x', '600x', '600x', '600x' -%}
    {%- endif -%} 
    {%- endcapture -%}
    {%- when '3' -%}
    {%- capture colum_width -%}
    {%- cycle 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4','col-xs-6 col-sm-4 col-md-8', 'col-xs-6 col-sm-4 col-md-8', 'col-xs-6 col-sm-4 col-md-8', 'col-xs-6 col-sm-4 col-md-8','col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-8', 'col-xs-6 col-sm-4 col-md-8','col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4' -%}
    {%- endcapture -%} 
    {%- capture image_size -%}
    {%- if settings.collection_aspect_ratio == '0' -%}
    {%- cycle '450x450', '450x450', '450x450', '450x450','900x900', '900x900', '900x900', '900x900','450x450', '450x450', '450x450', '450x450', '900x900', '900x900','450x450', '450x450', '450x450', '450x450' -%}
    {%- else -%}
    {%- cycle '450x', '450x', '450x', '450x','900x', '900x', '900x', '900x','450x', '450x', '450x', '450x', '900x', '900x','450x', '450x', '450x', '450x' -%}
    {%- endif -%} 
    {%- endcapture -%}
    {%- when '4' -%}
    {%- capture colum_width -%}
    {%- cycle 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3','col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6','col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-6', 'col-xs-6 col-sm-4 col-md-6','col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3', 'col-xs-6 col-sm-4 col-md-3' -%}
    {%- endcapture -%} 
    {%- capture image_size -%} 
    {%- if settings.collection_aspect_ratio == '0' -%}
    {%- cycle '300x300', '300x300', '300x300', '300x300','600x600', '600x600', '600x600', '600x600','300x300', '300x300', '300x300', '300x300', '600x600', '600x600','300x300', '300x300', '300x300', '300x300' -%}
    {%- else -%}
    {%- cycle '300x', '300x', '300x', '300x','600x', '600x', '600x', '600x','300x', '300x', '300x', '300x', '600x', '600x','300x', '300x', '300x', '300x' -%}
    {%- endif -%} 
    {%- endcapture -%} 
    {%- else -%}
    {%- capture colum_width -%}
    {%- cycle 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2','col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4','col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-4', 'col-xs-6 col-sm-4 col-md-4','col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2', 'col-xs-6 col-sm-4 col-md-2' -%}
    {%- endcapture -%} 
    {%- capture image_size -%} 
    {%- if settings.collection_aspect_ratio == '0' -%}
    {%- cycle '200x200', '200x200', '200x200', '200x200','400x400', '400x400', '400x400', '400x400','200x200', '200x200', '200x200', '200x200', '400x400', '400x400','200x200', '200x200', '200x200', '200x200' -%}
    {%- else -%}
    {%- cycle '200x', '200x', '200x', '200x','400x', '400x', '400x', '400x','200x', '200x', '200x', '200x', '400x', '400x','200x', '200x', '200x', '200x' -%}
    {%- endif -%} 
    {%- endcapture -%}
    {%- endcase -%}
    {%- endif -%}
    {%- include pl_include, countdown: settings.collection_product_countdown -%}
    {%- if settings.collection_masonry_grid == false -%}
    {%- cycle '', '<div class="clearfix visible-xs-block"></div>' -%}
    {%- cycle '','','<div class="clearfix visible-sm-block"></div>' -%}
    {%- case settings.collection_view_column -%}
    {%- when '2' -%}
    {%- cycle '','<div class="clearfix visible-md-block visible-lg-block"></div>' -%}
    {%- when '3' -%}
    {%- cycle '','','<div class="clearfix visible-md-block visible-lg-block"></div>' -%}
    {%- when '4' -%}
    {%- cycle '','','','<div class="clearfix visible-md-block visible-lg-block"></div>' -%}
    {%- when '6' -%}
    {%- cycle '','','','','','<div class="clearfix visible-md-block visible-lg-block"></div>' -%}
    {%- endcase -%}
    {%- endif -%}
    {%- else -%} 
    {{ 'collections.general.no_matches' | t }}
    {%- endfor -%} 
  </div>
  <div class="products-footer" data-status="{%- if paginate.next.is_link -%}have-posts{%- else -%}no-more-posts{%- endif -%}"> 
    {%- if paginate.next.is_link -%} 
    <a href="{{ paginate.next.url }}" class="btn woodmart-load-more woodmart-products-load-more {% if settings.collection_pagination == 'infinit' %}load-on-scroll{%else%}load-on-click{% endif %}">
      <span class="load-more-label" {% if settings.enable_multilang %}data-translate="collections.general.show_more"{% endif %}>{{ 'collections.general.show_more' | t}}</span>
      <span class="load-more-loading" {% if settings.enable_multilang %}data-translate="collections.general.loading"{% endif %}>{{ 'collections.general.loading' | t}} ...</span>
    </a> 
    {%- endif -%} 
  </div>
</div>  
{% endpaginate %}