{%- case section.settings.countdown_hover_product -%}
{%- when 'base' -%}
{%- assign pl_include = 'section_hover_product_base' -%} 
{%- when 'alt' -%}
{%- assign pl_include = 'section_hover_product_alt' -%}
{%- when 'info' -%}
{%- assign pl_include = 'section_hover_product_info' -%}
{%- when 'info-alt' -%}
{%- assign pl_include = 'section_hover_product_info_alt' -%}
{%- when 'button' -%}
{%- assign pl_include = 'section_hover_product_button' -%}
{%- when 'icon' -%}
{%- assign pl_include = 'section_hover_product_icon' -%}
{%- when 'standard' -%}
{%- assign pl_include = 'section_hover_product_standard' -%} 
{%- when 'quick' -%}
{%- assign pl_include = 'section_hover_product_quick' -%}
{%- when 'tiled' -%}
{%- assign pl_include = 'section_hover_product_tiled' -%}
{%- endcase -%}
{%- if section.settings.countdown_collection == blank -%}
  {%- if collections["frontpage"].products.size > 0 -%}
    {%- assign collection = collections["frontpage"] -%}
  {%- else -%}
    {%- assign collection = collections["all"] -%}
  {%- endif -%}
{%- else -%}
  {%- assign collection = collections[section.settings.countdown_collection] -%}
{%- endif -%}
{%- assign limit = section.settings.countdown_limit -%}
<div class="data-carousel" data-items="1" data-auto="{{ section.settings.countdown_carousel_autoplay }}" data-paging="{{section.settings.countdown_carousel_pagination}}" data-loop="{{section.settings.countdown_carousel_loop}}" data-320="1" data-414="1" data-768="1" data-992="1" data-1200="1" data-margin="0" data-nav="{{ section.settings.countdown_carousel_navigation }}" data-prev='' data-next='' style="display: none;"></div>
<div class="owl-carousel">
  {%- for product in collection.products limit:limit  -%}
    {%- assign sold_out = true -%}
    {%- if product.available -%}
      {%- assign sold_out = false -%}
    {%- endif -%}
    {%- assign on_sale = false -%}
    {%- if product.compare_at_price_min > product.price_min -%}
      {%- assign on_sale = true -%}
    {%- endif -%}
    {%- assign variant_tmp = product.selected_or_first_available_variant -%}
    {%- for variant in product.variants -%}
      {%- if variant.available == true and variant.price < variant_tmp.price -%}
        {%- assign variant_tmp = variant -%}	
      {%- endif -%}
    {%- endfor -%}
    {%- case settings.collection_aspect_ratio -%}
    {%- when '1' -%}
      {%- assign image_width = settings.collection_ratio_width -%}
      {%- assign image_height = '' -%} 
    {%- else -%}
      {%- assign image_width = settings.collection_ratio_width -%}
      {%- assign image_height = settings.collection_ratio_height -%}
    {%- endcase -%} 
    {%- capture image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%}
    {%- include pl_include, carousel: true, countdown: section.settings.countdown_enable -%} 
  {%- endfor-%}
</div> 