<a href="{{ product.url | within: collection }}" class="product-image-link">
  {%- if variant_tmp.compare_at_price > variant_tmp.price -%}
  <div class="product-labels labels-{{settings.collection_product_label_design}}"><span class="onsale product-label">-{{ variant_tmp.compare_at_price | minus: variant_tmp.price | times: 100.0 | divided_by: variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span></div>
  {%- endif -%}
  {%- if sold_out == true -%}
  <div class="product-labels labels-{{settings.collection_product_label_design}}"><span class="out-of-stock product-label" {% if settings.language_enable %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</span></div>
  {%- endif -%}
  <img src="{{ product.featured_image.src | img_url: image_size, crop: 'center' }}" class="attachment-shop_catalog size-shop_catalog" alt="{{ product.featured_image.alt | escape }}">
</a>
{% if product.images[1] %}
<div class="hover-img">
  <a href="{{ product.url | within: collection }}">
    <img src="{{ product.images[1].src | img_url: image_size, crop: 'center' }}" class="attachment-shop_catalog size-shop_catalog" alt="">
  </a>
</div>
{% endif %} 