<div class="sale-notification {{ settings.sale_popup_position }}{% if settings.sale_popup_on_mobile %} show-on-mobile {% endif %}">
  {% assign popup_collection = collections[settings.sale_popup_collection] %} 
  {% if popup_collection.products.size > 0 %} 
  {% for product in popup_collection.products limit:1 %}
  <div class="is-flex"> 
    <img src="{{ product | img_url: '60x60' }}">
    <div class="sale-notification__content is-flex">
      <p>
        {{ settings.sale_popup_message }} 
        <strong><a href="{{ product.url }}">{{ product.title }}</a></strong>
      </p> 
      {% if settings.sale_popup_ago_time %}
      <span>15 minutes ago</span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% endif %} 
  {% if settings.sale_popup_close_button %}
  <a class="is-absolute sale-notification__close" href="#">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 37 40"><path d="M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z"></path></svg>
  </a>
  {% endif %}
</div>
<style>
  .is-flex {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sale-notification {
    position: fixed;
    width: 250px;
    bottom: -100px;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    transition: all .5s;
    opacity: 0;
    {% if settings.sale_popup_bg_color %}
    background-color: {{ settings.sale_popup_bg_color }};
    {% endif %}
    {% if settings.sale_popup_bg_image %}
    background-image: url({{ settings.sale_popup_bg_image | img_url: 'master' }});
    {% endif %} 
  }
  {% if settings.sale_popup_color %}
  .sale-notification * {
    color: {{ settings.sale_popup_color }};
  }
  {% endif %} 
  .sale-notification.left-bottom {
    left: 20px;
  }
  .sale-notification.right-bottom {
    right: 20px;
  }
  .sale-notification.active {
    bottom: 20px;
    opacity: 1;
  }
  .sale-notification__content {
    padding-left: 5px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: column;
    flex-direction: column;
  }
  .sale-notification__content {
    padding-left: 5px; 
  }
  .sale-notification__content p {
    flex: 1;
    padding-right: 15px;
  }
  .sale-notification__content span {
    font-size: 10px;
  }
  .sale-notification__close {
    top: 0;
    right: 6px; 
  }
  .sale-notification__close svg {
    width: 12px;
  }
  @media only screen and (max-width: 1024px) {
    .sale-notification {
      visibility: hidden; 
    }
    .sale-notification .show-on-mobile {
      visibility: visible;
    }
  }
</style>