{%- case section.settings.section_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%} 
<div data-section-id="{{ section.id }}" data-section-type="carousel-section">
  <div {{data_fullwidth}} class="vc_row wpb_row vc_row-fluid vc_custom_{{section.id}} {% if section.settings.section_layout == '3' %}vc_row-no-padding{% endif %}"  style="margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.padding}};">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper"> 
          <div class="vc_row">
            {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
            {%- case block.type -%} 
            {%- when 'products' -%}
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-{{block.settings.item_width}} vc_col-md-{{block.settings.item_width}}">
              <div class="vc_column-inner vc_custom_1496922421269">
                <div class="wpb_wrapper">
                  <div class="title-wrapper woodmart-title-color-primary woodmart-title-style-default woodmart-title-size-small woodmart-title-width-100 text-left vc_custom_1492159655125">
                    <div class="liner-continer"> 
                      <h4 class="woodmart-title-container title">
                        {% if settings.language_enable %}
                        <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                        <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                        {% else %}
                        {{ block.settings.title | split: '|' | first }}
                        {% endif %}
                      </h4> 
                    </div>
                  </div>
                  <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1511360604094">
                    <div class="wpb_wrapper">
                      <div class="widget_products">
                        <div class="widget shopify widget_products"> 
                          {%- assign limit = block.settings.limit -%}      
                          {%- assign name_collection = block.settings.collection -%}
                          {%- if name_collection == blank -%}{%- assign name_collection = "all" -%}{%- endif -%}
                          {%- assign collection = collections[name_collection] -%} 
                          {%- if collection.products.size == 0 -%}
                          <p style="text-align:center;color:#999;padding: 5px 10px;font-style:italic;" {% if settings.language_enable %}data-translate="products.general.no_more_product"{% endif %}>{{ 'products.general.no_more_product' | t }}</p>
                          {%- else -%}
                          <ul class="product_list_widget">
                            {%- for product in collection.products limit: limit -%} 
                            {%- assign on_sale = false -%}
                            {%- if product.compare_at_price_min > product.price_min -%}
                            {%- assign on_sale = true -%}
                            {%- endif -%}
                            <li>
                              <a href="{{ product.url | within: collection }}">
                                <img src="{{ product.featured_image.src | img_url: '70x80' }}" class="attachment-shop_thumbnail size-shop_thumbnail">		
                                <span class="product-title">
                                  {% if settings.language_enable %}
                                  <span class="lang1">{{ product.title | split: '|' | first }}</span>
                                  <span class="lang2">{{ product.title | split: '|' | last }}</span>
                                  {% else %}
                                  {{ product.title | split: '|' | first }}
                                  {% endif %}
                                </span>
                              </a> 
                              <span class="price">
                                {%- if on_sale -%} 
                                <del><span class="shopify-Price-amount amount"><span class="money">{{ product.compare_at_price | money }}</span></span></del> 
                                <ins><span class="shopify-Price-amount amount"><span class="money">{{ product.price | money }}</span></span></ins>
                                {%- else -%}
                                <span class="shopify-Price-amount amount"><span class="money">{{ product.price | money }}</span></span>
                                {%- endif -%}
                              </span>
                            </li> 
                            {%- endfor -%}
                          </ul> 
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%- else -%}
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-{{block.settings.item_width}} vc_col-md-{{block.settings.item_width}}">
              <div class="vc_column-inner vc_custom_1496922453076">
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1492007279866 vc_row-has-fill">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner vc_custom_1491927161549">
                        <div class="wpb_wrapper">
                          <div class="title-wrapper woodmart-title-color-primary woodmart-title-style-default woodmart-title-size-default woodmart-title-width-70 text-center vc_custom_1492006454675">
                            <div class="title-subtitle font-default style-default">
                              {% if settings.language_enable %}
                              <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                              <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                              {% else %}
                              {{ block.settings.title | split: '|' | first }}
                              {% endif %}
                            </div>
                            {% if settings.language_enable %}
                            <div class="lang1">{{ block.settings.content | split: '[lang2]' | first }}</div>
                            <div class="lang2">{{ block.settings.content | split: '[lang2]' | last }}</div>
                            {% else %}
                            {{ block.settings.content | split: '[lang2]' | first }}
                            {% endif %}
                          </div>
                          <div class="wpb_text_column wpb_content_element  vc_custom_1492000183640">
                            <div class="wpb_wrapper">
                              <form action="{{ form_action }}" method="post" target="_blank" name="mc-embedded-subscribe-form" class="mc4wp-form mc4wp-form-1446 mc4wp-form-submitted mc4wp-form-error">
                                <div class="mc4wp-form-fields">
                                  <p>                        
                                    <input id="fc-email" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                  </p> 
                                  <p style="margin-bottom: 20px;">   
                                    <button type="submit" name="subscribe" {% if settings.language_enable %}data-translate="general.newsletter_form.subscribe"{% endif %}>{{ 'general.newsletter_form.subscribe' | t }}</button>
                                  </p>
                                </div>
                              </form>
                            </div>
                          </div>
                          {%- if block.settings.social_title != '' -%}
                          <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_80 vc_sep_pos_align_center vc_sep_color_grey vc_custom_1492000205360 vc_separator-has-text">
                            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
                            <h4>
                              {% if settings.language_enable %}
                              <span class="lang1">{{ block.settings.social_title | split: '|' | first }}</span>
                              <span class="lang2">{{ block.settings.social_title | split: '|' | last }}</span>
                              {% else %}
                              {{ block.settings.social_title | split: '|' | first }}
                              {% endif %}
                            </h4>
                            <span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                          </div>
                          {%- endif -%}
                          <div class="woodmart-social-icons text-center icons-design-bordered icons-size-small color-scheme-dark social-share social-form-circle">
                            {{ block.settings.social_content }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%- endcase -%}
            {%- endfor -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- if section.settings.section_layout != '0' -%}
  <div class="vc_row-full-width vc_clearfix"></div>
  {%- endif -%}
</div>
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_{{section.id}}{margin-bottom:0px !important;border-top-width:1px !important;padding-top:40px !important;border-top-color:rgba(129,129,129,0.2) !important;border-top-style:solid !important}.vc_custom_1496922421269{margin-bottom:15px !important;padding-top:15px !important}.vc_custom_1496922433893{margin-bottom:15px !important;padding-top:15px !important}.vc_custom_1496922453076{padding-top:0px !important}.vc_custom_1492159655125{margin-bottom:10px !important}.vc_custom_1511360604094{margin-bottom:15px !important;padding-top:15px !important}.vc_custom_1492159662001{margin-bottom:10px !important}.vc_custom_1511361058526{margin-bottom:15px !important;padding-top:15px !important}.vc_custom_1492007279866{overflow: hidden;margin-right:0px !important;margin-left:0px !important;border-top-width:5px !important;border-right-width:5px !important;border-bottom-width:5px !important;border-left-width:5px !important;padding-top:35px !important;padding-right:30px !important;padding-bottom:35px !important;padding-left:30px !important;background-position:0 0 !important;background-repeat:no-repeat !important;border-left-color:#ededed !important;border-left-style:solid !important;border-right-color:#ededed !important;border-right-style:solid !important;border-top-color:#ededed !important;border-top-style:solid !important;border-bottom-color:#ededed !important;border-bottom-style:solid !important}.vc_custom_1491927161549{padding-top:0px !important}.vc_custom_1492006454675{margin-bottom:20px !important}.vc_custom_1492000183640{margin-bottom:10px !important}.vc_custom_1492000205360{margin-bottom:20px !important}</style>
{% schema %}
  {
    "name": "Footer Products List",
	"max_blocks": 4,
    "settings": [
      {
        "type": "header", 
        "content": "Section Settings"
      },  
      {
        "type": "select",
        "id": "section_layout",
        "label": "Layout",
        "options": [
          {
            "value": "0",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Fullwidth row"
          },
          {
            "value": "2",
            "label": "Fullwidth row and content"
          },
          {
            "value": "3",
            "label": "Fullwidth row and content (no padding)"
          }
        ],
        "default": "0"
      },
      {
        "type": "text",
        "id": "margin_top",
        "label": "Section Margin Top", 
        "info": "40px"
      },
      {
        "type": "text",
        "id": "margin_bottom",
        "label": "Section Margin Bottom", 
        "info": "40px"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Section Padding",
        "info": "Ex:(40px 40px 40px) (top right bottom left)"
      }
	],
	"blocks": [
      {
        "type": "products",
        "name": "Products Collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured Products"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "limit",
            "label": "Limit",
            "default": "3"
          },
          {
            "type": "select",
            "id": "item_width",
            "label": "Item Width",
            "options": [
              {
                "value": "1",
                "label": "1/12"
              },
              {
                "value": "2",
                "label": "2/12"
              },
              {
                "value": "3",
                "label": "3/12"
              },
              {
                "value": "4",
                "label": "4/12"
              },
              {
                "value": "5",
                "label": "5/12"
              },
              {
                "value": "6",
                "label": "6/12"
              },
              {
                "value": "7",
                "label": "7/12"
              },
              {
                "value": "8",
                "label": "8/12"
              },
              {
                "value": "9",
                "label": "9/12"
              },
              {
                "value": "10",
                "label": "10/12"
              },
              {
                "value": "11",
                "label": "11/12"
              },
              {
                "value": "12",
                "label": "12/12"
              }
            ],
            "default": "3"
          }
        ]
      },
	  {
        "type": "newsletter",
        "name": "Newsletter Signup",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "TO WOODMART"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Newsletter Content",
			"default": "<div class=\"liner-continer\"> <span class=\"left-line\"></span><h4 class=\"woodmart-title-container title\">REGISTER FOR OUR NEWSLETTER<span class=\"title-separator\"><span></span></span></h4> <span class=\"right-line\"></span></div><div class=\"title-after_title\">Sign up for all the news about our last arrivals and get an exclusive early access shopping.</div>"
          },
          {
            "type": "header",
            "content": "Social Share"
          },
          {
            "type": "text",
            "id": "social_title",
            "label": "Heading",
            "default": "OR FOLLOW US"
          },  
          {
            "type": "html",
            "id": "social_content",
            "label": "Social Content",
			"default": "<div class=\"woodmart-social-icon social-facebook\"><a href=\"https://www.facebook.com/sharer/sharer.php?u=https://woodmart-default.myshopify.com/\" target=\"_blank\" class=\"\"><i class=\"fa fa-facebook\"></i>Facebook</a></div><div class=\"woodmart-social-icon social-twitter\"><a href=\"http://twitter.com/share?url=https://woodmart-default.myshopify.com/\" target=\"_blank\" class=\"\"><i class=\"fa fa-twitter\"></i>Twitter</a></div><div class=\"woodmart-social-icon social-google\"><a href=\"http://plus.google.com/share?url=https://woodmart-default.myshopify.com/\" target=\"_blank\" class=\"\"><i class=\"fa fa-google-plus\"></i>Google</a></div><div class=\"woodmart-social-icon social-email\"><a href=\"mailto:?subject=Check this https://woodmart-default.myshopify.com/\" target=\"_blank\" class=\"\"><i class=\"fa fa-envelope\"></i>Email</a></div><div class=\"woodmart-social-icon social-pinterest\"><a href=\"http://pinterest.com/pin/create/button/?url=https://woodmart-default.myshopify.com/\" target=\"_blank\" class=\"\"><i class=\"fa fa-pinterest\"></i>Pinterest</a></div>"
          },
          {
            "type": "select",
            "id": "item_width",
            "label": "Item Width",
            "options": [
              {
                "value": "1",
                "label": "1/12"
              },
              {
                "value": "2",
                "label": "2/12"
              },
              {
                "value": "3",
                "label": "3/12"
              },
              {
                "value": "4",
                "label": "4/12"
              },
              {
                "value": "5",
                "label": "5/12"
              },
              {
                "value": "6",
                "label": "6/12"
              },
              {
                "value": "7",
                "label": "7/12"
              },
              {
                "value": "8",
                "label": "8/12"
              },
              {
                "value": "9",
                "label": "9/12"
              },
              {
                "value": "10",
                "label": "10/12"
              },
              {
                "value": "11",
                "label": "11/12"
              },
              {
                "value": "12",
                "label": "12/12"
              }
            ],
            "default": "6"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
