{%- if section.blocks.size > 0 -%}
{%- for block in section.blocks -%}
{%- case block.settings.background_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%}  
<div {{data_fullwidth}} class="vc_row wpb_row vc_row-fluid vc_custom_{{block.id}} {% if block.settings.section_layout == '3' %}vc_row-no-padding{% endif %}" style="margin-top: {{block.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{block.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{block.settings.section_padding}};">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"> 
        {%- case block.type -%} 
        {%- when 'heading' -%}
        <div class="vc_row wpb_row vc_row-fluid">
          {%- if block.settings.heading_box_position == 'right' -%} 
          <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-lg-5 vc_col-md-4"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
          {%- endif -%}
          {%- if block.settings.heading_box_position == 'center' -%}
          {%- assign content_class = 'text-center wpb_column vc_column_container vc_col-sm-10 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-12 color-scheme-light' -%}
          {%- endif -%}
          {%- if block.settings.heading_box_position == 'left' or block.settings.heading_box_position == 'right' -%}
          {%- assign content_class = 'wpb_column vc_column_container vc_col-sm-10 vc_col-lg-7 vc_col-md-8 vc_col-xs-12 color-scheme-light' -%}
          {%- endif -%} 
          <div class="{{content_class}}">
            <div class="vc_column-inner vc_custom_1497600207829">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid text-center vc_custom_1497600462299 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1497600312708">
                      <div class="wpb_wrapper">
                        {%- if block.settings.single_image != blank -%}
                        <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1496317019728">
                          <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper vc_box_border_grey">
                              <img class="vc_single_image-img " src="{{block.settings.single_image | img_url: '126x46'}}" width="126" height="46" alt="{{block.settings.single_image.alt}}" title="{{block.settings.single_image.alt}}">
                            </div>
                          </figure>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.title != '' -%}
                        <style>#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:{{block.settings.title_fontsize | remove: 'px' | append: 'px'}};line-height:{{block.settings.title_fontsize | remove: 'px' | plus: '10' | append: 'px'}}}@media (max-width: 1024px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:36px;line-height:46px}}@media (max-width: 767px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:28px;line-height:38px}}</style>
                        <div id="woodmart-text-block-id-{{block.id}}" class="woodmart-text-block-wrapper color-scheme-light woodmart-title-size-custom woodmart-title-width-100 text-{{block.settings.heading_text_align}} vc_custom_1501485834912">
                          <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-{{block.settings.title_font_weight}}">
                            <p></p>
                            <h4>
                              {%- if settings.language_enable -%}
                              <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                              <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                              {%- else -%}
                              {{ block.settings.title | split: '|' | first }}
                              {%- endif -%}
                            </h4>
                            <p></p> 
                          </div>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.heading_content != '' -%}
                        <div class="wpb_text_column wpb_content_element text-{{block.settings.heading_text_align}} vc_custom_1497600654190 text-larger">
                          <div class="wpb_wrapper">
                            {%- if settings.language_enable -%}
                            <div class="lang1">{{ block.settings.heading_content | split: '[lang2]' | first }}</div>
                            <div class="lang2">{{ block.settings.heading_content | split: '[lang2]' | last }}</div>
                            {%- else -%}
                            {{ block.settings.heading_content | split: '[lang2]' | first }}
                            {%- endif -%}
                          </div>
                        </div>
                        {%- endif -%} 
                        {%- if block.settings.button_title_1 != '' -%}
                        <div class="woodmart-button-wrapper text-{{block.settings.heading_text_align}} btn-inline">
                          <a href="{{block.settings.button_link_1}}" title="" class="btn btn-color-{{block.settings.button_color_1}} btn-style-{{block.settings.button_style_1}} btn-size-{{block.settings.button_size_1}}">
                            {%- if settings.language_enable -%}
                            <span class="lang1">{{ block.settings.button_title_1 | split: '|' | first }}</span>
                            <span class="lang2">{{ block.settings.button_title_1 | split: '|' | last }}</span>
                            {%- else -%}
                            {{ block.settings.button_title_1 | split: '|' | first }}
                            {%- endif -%}
                          </a>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.button_title_2 != '' -%}
                        <div class="woodmart-button-wrapper text-{{block.settings.heading_text_align}} btn-inline">
                          <a href="{{block.settings.button_link_2}}" title="" class="btn btn-color-{{block.settings.button_color_2}} btn-style-{{block.settings.button_style_2}} btn-size-{{block.settings.button_size_2}}">
                            {%- if settings.language_enable -%}
                            <span class="lang1">{{ block.settings.button_title_2 | split: '|' | first }}</span>
                            <span class="lang2">{{ block.settings.button_title_2 | split: '|' | last }}</span>
                            {%- else -%}
                            {{ block.settings.button_title_2 | split: '|' | first }}
                            {%- endif -%}
                          </a>
                        </div>
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- if block.settings.heading_box_position == 'left' -%}
          <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-sm-offset-1"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
          {%- endif -%}
        </div> 
        {%- when 'banner_content' -%}
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1497603008813 vc_row-o-content-middle vc_row-flex">
              {%- if block.settings.content_postion == 'left' -%}
              <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
                <div class="vc_column-inner vc_custom_1496394189503">
                  <div class="wpb_wrapper">
                    <style>#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:{{block.settings.title_fontsize | remove: 'px' | append: 'px'}};line-height:{{block.settings.title_fontsize | remove: 'px' | plus: '10' | append: 'px'}};}@media (max-width: 1024px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:36px;line-height:46px}}@media (max-width: 767px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:28px;line-height:38px}}</style>
                    <div id="woodmart-text-block-id-{{block.id}}" class="woodmart-text-block-wrapper color-scheme-dark woodmart-title-size-custom woodmart-title-width-100 text-left vc_custom_1501485841200">
                      <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-">
                        <p></p>
                        <h4>
                          {%- if settings.language_enable -%}
                          <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                          <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                          {%- else -%}
                          {{ block.settings.title | split: '|' | first }}
                          {%- endif -%}
                        </h4>
                        <p></p>
                      </div>
                    </div>
                    {%- if block.settings.content1 != '' -%}
                    <div class="wpb_text_column wpb_content_element  vc_custom_1496342152970 text-larger">
                      <div class="wpb_wrapper">
                        {%- if settings.language_enable -%}
                        <div class="lang1">{{ block.settings.content1 | split: '[lang2]' | first }}</div>
                        <div class="lang2">{{ block.settings.content1 | split: '[lang2]' | last }}</div>
                        {%- else -%}
                        {{ block.settings.content1 | split: '[lang2]' | first }}
                        {%- endif -%}
                      </div>
                    </div>
                    {%- endif -%}
                    {%- if block.settings.content2 != '' -%}
                    {%- if settings.language_enable -%}
                    <div class="lang1">{{ block.settings.content2 | split: '[lang2]' | first }}</div>
                    <div class="lang2">{{ block.settings.content2 | split: '[lang2]' | last }}</div>
                    {%- else -%}
                    {{ block.settings.content2 | split: '[lang2]' | first }}
                    {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              </div>
              {%- endif -%}
              <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_left">
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper vc_box_border_grey">
                          <img width="1400" height="1499" src="{{ block.settings.content_image | img_url: '1400x1499'}}" class="vc_single_image-img attachment-full" alt="">
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              {%- if block.settings.content_postion == 'right' -%}
              <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
                <div class="vc_column-inner vc_custom_1496394189503">
                  <div class="wpb_wrapper">
                    <style>#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:{{block.settings.title_fontsize | remove: 'px' | append: 'px'}};line-height:{{block.settings.title_fontsize | remove: 'px' | plus: '10' | append: 'px'}};}@media (max-width: 1024px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:36px;line-height:46px}}@media (max-width: 767px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:28px;line-height:38px}}</style>
                    <div id="woodmart-text-block-id-{{block.id}}" class="woodmart-text-block-wrapper color-scheme-dark woodmart-title-size-custom woodmart-title-width-100 text-left vc_custom_1501485841200">
                      <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-">
                        <p></p>
                        <h4>
                          {%- if settings.language_enable -%}
                          <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                          <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                          {%- else -%}
                          {{ block.settings.title | split: '|' | first }}
                          {%- endif -%}
                        </h4>
                        <p></p>
                      </div>
                    </div>
                    {%- if block.settings.content1 != '' -%}
                    <div class="wpb_text_column wpb_content_element  vc_custom_1496342152970 text-larger">
                      <div class="wpb_wrapper">
                        {%- if settings.language_enable -%}
                        <div class="lang1">{{ block.settings.content1 | split: '[lang2]' | first }}</div>
                        <div class="lang2">{{ block.settings.content1 | split: '[lang2]' | last }}</div>
                        {%- else -%}
                        {{ block.settings.content1 | split: '[lang2]' | first }}
                        {%- endif -%}
                      </div>
                    </div>
                    {%- endif -%}
                    {%- if block.settings.content2 != '' -%}
                    {%- if settings.language_enable -%}
                    <div class="lang1">{{ block.settings.content2 | split: '[lang2]' | first }}</div>
                    <div class="lang2">{{ block.settings.content2 | split: '[lang2]' | last }}</div>
                    {%- else -%}
                    {{ block.settings.content2 | split: '[lang2]' | first }}
                    {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              </div>
              {%- endif -%}
            </div>
        {%- when 'newsletter' -%}
        <div class="vc_row wpb_row vc_row-fluid">
          {%- if block.settings.heading_box_position == 'right' -%} 
          <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-lg-5 vc_col-md-4"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
          {%- endif -%}
          {%- if block.settings.heading_box_position == 'center' -%}
          {%- assign content_class = 'text-center wpb_column vc_column_container vc_col-sm-10 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-12 color-scheme-light' -%}
          {%- endif -%}
          {%- if block.settings.heading_box_position == 'left' or block.settings.heading_box_position == 'right' -%}
          {%- assign content_class = 'wpb_column vc_column_container vc_col-sm-10 vc_col-lg-7 vc_col-md-8 vc_col-xs-12 color-scheme-light' -%}
          {%- endif -%} 
          <div class="{{content_class}}">
            <div class="vc_column-inner vc_custom_1497600207829">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid text-center vc_custom_1497600462299 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1497600312708">
                      <div class="wpb_wrapper">
                        {%- if block.settings.single_image != blank -%}
                        <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1496317019728">
                          <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper vc_box_border_grey">
                              <img class="vc_single_image-img " src="{{block.settings.single_image | img_url: '126x46'}}" width="126" height="46" alt="{{block.settings.single_image.alt}}" title="{{block.settings.single_image.alt}}">
                            </div>
                          </figure>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.title != '' -%}
                        <style>#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:{{block.settings.title_fontsize | remove: 'px' | append: 'px'}};line-height:{{block.settings.title_fontsize | remove: 'px' | plus: '10' | append: 'px'}}}@media (max-width: 1024px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:36px;line-height:46px}}@media (max-width: 767px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:28px;line-height:38px}}</style>
                        <div id="woodmart-text-block-id-{{block.id}}" class="woodmart-text-block-wrapper color-scheme-light woodmart-title-size-custom woodmart-title-width-100 text-{{block.settings.heading_text_align}} vc_custom_1501485876976">
                          <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-{{block.settings.title_font_weight}}">
                            <p></p>
                            <h4>
                              {%- if settings.language_enable -%}
                              <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                              <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                              {%- else -%}
                              {{ block.settings.title | split: '|' | first }}
                              {%- endif -%}
                            </h4>
                            <p></p> 
                          </div>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.heading_content != '' -%}
                        <div class="wpb_text_column wpb_content_element text-{{block.settings.heading_text_align}} vc_custom_1497602550560 text-larger">
                          <div class="wpb_wrapper">
                            {%- if settings.language_enable -%}
                            <div class="lang1">{{ block.settings.heading_content | split: '[lang2]' | first }}</div>
                            <div class="lang2">{{ block.settings.heading_content | split: '[lang2]' | last }}</div>
                            {%- else -%}
                            {{ block.settings.heading_content | split: '[lang2]' | first }}
                            {%- endif -%}
                          </div>
                        </div>
                        {%- endif -%}  
                        <div class="wpb_text_column wpb_content_element  vc_custom_1496347892038">
                          <div class="wpb_wrapper">
                            {%- if settings.newsletter_form_action != blank -%}
                            {%- assign form_action = settings.newsletter_form_action -%}
                            {%- else -%}
                            {%- assign form_action = '#' -%}
                            {%- endif -%} 
                            <form action="{{ form_action }}" method="post" target="_blank" name="mc-embedded-subscribe-form" class="mc4wp-form mc4wp-form-1446 mc4wp-form-submitted mc4wp-form-error">
                              <div class="mc4wp-form-fields">
                                <p>                        
                                  <input id="fc-email" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                                </p> 
                                <p style="margin-bottom: 20px;"><button type="submit" name="subscribe" {% if settings.language_enable %}data-translate="general.newsletter_form.subscribe"{% endif %}>{{ 'general.newsletter_form.subscribe' | t }}</button></p>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="woodmart-social-icons text-center icons-design-bordered icons-size-default color-scheme-light social-share social-form-circle">
                          {%- assign _url = shop.url | append: block.settings.social_link -%}
                          {%- include 'social-sharing', share_url: _url -%}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- if block.settings.heading_box_position == 'left' -%}
          <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-sm-offset-1"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div>
          {%- endif -%}
        </div>
        {%- when 'product' -%}
        <div class="vc_row wpb_row vc_row-fluid"> 
          <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-sm-offset-2">
            <div class="vc_column-inner vc_custom_1496348241738">
              <div class="wpb_wrapper">
                {%- if block.settings.title != '' -%}
                <style>#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:{{block.settings.title_fontsize | remove: 'px' | append: 'px'}};line-height:{{block.settings.title_fontsize | remove: 'px' | plus: '10' | append: 'px'}}}@media (max-width: 1024px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:36px;line-height:46px}}@media (max-width: 767px){#woodmart-text-block-id-{{block.id}} .woodmart-text-block{font-size:28px;line-height:38px}}</style>
                <div id="woodmart-text-block-id-{{block.id}}" class="woodmart-text-block-wrapper color-scheme-{{block.settings.content_color}} woodmart-title-size-custom woodmart-title-width-100 text-center woodmart-text-block-wrapper color-scheme-dark woodmart-title-size-custom woodmart-title-width-100 vc_custom_1501485871089">
                  <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-{{block.settings.title_font_weight}}">
                    <p></p>
                    <h4>
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                      <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                      {%- else -%}
                      {{ block.settings.title | split: '|' | first }}
                      {%- endif -%}
                    </h4>
                    <p></p> 
                  </div>
                </div>
                {%- endif -%}
                {%- if block.settings.heading_content != '' -%}
                <div class="wpb_text_column wpb_content_element text-center color-scheme-{{block.settings.content_color}} vc_custom_1496347426649 text-larger">
                  <div class="wpb_wrapper">
                    {%- if settings.language_enable -%}
                    <div class="lang1">{{ block.settings.heading_content | split: '[lang2]' | first }}</div>
                    <div class="lang2">{{ block.settings.heading_content | split: '[lang2]' | last }}</div>
                    {%- else -%}
                    {{ block.settings.heading_content | split: '[lang2]' | first }}
                    {%- endif -%}
                  </div>
                </div>
                {%- endif -%}  
                <h2 style="font-size: 45px;text-align: center;font-family:Lato;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1496317579658">
                  {{block.settings.product_price}}
                </h2>
                {%- if block.settings.button_title != '' -%}
                <div class="woodmart-button-wrapper text-center">
                  <a href="{{block.settings.button_link}}" title="" class="btn btn-color-{{block.settings.button_color}} btn-style-{{block.settings.button_style}} btn-size-{{block.settings.button_size}}">
                    {%- if settings.language_enable -%}
                    <span class="lang1">{{ block.settings.button_title | split: '|' | first }}</span>
                    <span class="lang2">{{ block.settings.button_title | split: '|' | last }}</span>
                    {%- else -%}
                    {{ block.settings.button_title | split: '|' | first }}
                    {%- endif -%}
                  </a>
                </div>
                {%- endif -%}
              </div>
            </div>
          </div> 
        </div> 
        {%- endcase -%}
      </div>
    </div>
  </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
<style>
  .vc_custom_{{block.id}} { 
    border-top-width: 0px !important; 
    {%- if block.settings.background_image != blank -%}
    background-image: url({{block.settings.background_image | img_url: 'master'}}) !important;
    background-position: {{block.settings.background_position | replace: '_', ' ' }} !important;
    background-repeat: {{block.settings.background_image_repeat}} !important;
    background-size: {{block.settings.background_size}} !important;
    background-attachment: {{block.settings.background_attachment}} !important;
    {%- endif -%}
    background-color: {{block.settings.background_color}};
  }  
  .vc_custom_1497600207829 {
    padding-top: 0px !important;
  }

  .vc_custom_1497600462299 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 5vh !important;
    padding-right: 10% !important;
    padding-bottom: 7vh !important;
    padding-left: 10% !important;
    background-color: rgba(10,10,10,0.5) !important;
  }
  .vc_custom_1497600312708 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .vc_custom_1496317019728 {
    margin-bottom: 15px !important;
  }
  .vc_custom_1501485834912 {
    margin-bottom: 20px !important;
  }
  .vc_custom_1497600654190 {
    margin-bottom: 25px !important;
  }
  .vc_custom_1501485876976 {
    margin-bottom: 20px !important;
  }
  .vc_custom_1497602550560 {
    margin-bottom: 25px !important;
  }
  .vc_custom_1496347892038 {
    margin-bottom: 10px !important;
  }
  .vc_custom_1501485871089 {
    margin-bottom: 20px !important;
  }
  .vc_custom_1496347426649 {
    margin-bottom: 20px !important;
  }
  .vc_custom_1496317579658 {
    margin-bottom: 25px !important;
  }
</style>
{%- endfor -%}
{%- endif -%}
{% schema %}
  {
    "name": "Landing Page",
    "settings": [],
	"blocks": [
      {
        "type":"heading",
        "name":"Background Heading",
        "settings": [ 
          {
            "type": "select",
            "id": "background_layout",
            "label": "Layout",
            "options": [
              {
                "value": "0",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Fullwidth row"
              },
              {
                "value": "2",
                "label": "Fullwidth row and content"
              },
              {
                "value": "3",
                "label": "Fullwidth row and content (no padding)"
              }
            ],
            "default": "0"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color", 
            "default": "transparent"
          }, 
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Section background image" 
          },
          {
            "type": "select",
            "id": "background_image_repeat",
            "label": "Background Repeat",
            "options": [
              {
                "value": "no-repeat",
                "label": "No Repeat"
              },
              {
                "value": "repeat-x",
                "label": "Repeat x (Repeat Horizontal)"
              },
              {
                "value": "repeat-y",
                "label": "Repeat y (Repeat Verticle)"
              },
              {
                "value": "repeat",
                "label": "Repeat All"
              }
            ],
            "default": "no-repeat"
          },
          {
            "type": "select",
            "id": "background_size",
            "label": "Background Size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "cover",
                "label": "Cover"
              },
              {
                "value": "contain",
                "label": "Contain"
              }
            ],
            "default": "cover"
          },
          {
            "type": "select",
            "id": "background_attachment",
            "label": "Background Attachment",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "fixed",
                "label": "Fixed"
              },
              {
                "value": "scroll",
                "label": "Scroll"
              },
              {
                "value": "inherit",
                "label": "Inherit"
              }
            ],
            "default": "default"
          },
          {
            "type": "select",
            "id": "background_position",
            "label": "Background Position",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "left_top",
                "label": "Left Top"
              },
              {
                "value": "left_center",
                "label": "Left Center"
              },
              {
                "value": "left_bottom",
                "label": "Left Bottom"
              },
              {
                "value": "center_top",
                "label": "Center Top"
              },
              {
                "value": "center_center",
                "label": "Center Center"
              },
              {
                "value": "center_bottom",
                "label": "Center Bottom"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "text",
            "id": "margin_top",
            "label": "Section margin top",
            "info": "40px"
          },
          {
            "type": "text",
            "id": "margin_bottom",
            "label": "Section margin bottom",
            "info": "40px"
          },
          {
            "type": "text",
            "id": "section_padding",
            "label": "Section padding",
            "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
          }, 
          {
            "type": "select",
            "id": "heading_box_position",
            "label": "Heading Postion",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "heading_text_align",
            "label": "Heading Text Align",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "single_image",
            "label": "Single image" 
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Grand Repos & Panchina<br>Aliquam Parturient"
          }, 
          {
            "type": "text",
            "id": "title_fontsize",
            "label": "Title font size",
            "default": "48px",
            "info": "48px"
          },
          {
            "type": "select",
            "id": "title_font_weight",
            "label": "Title font weight",
            "options": [
              {
                "value": "300",
                "label": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
              {
                "value": "500",
                "label": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "value": "700",
                "label": "700"
              },
              {
                "value": "900",
                "label": "900"
              }
            ],
            "default": "300"
          },
          {
            "type": "textarea",
            "id": "heading_content",
            "label": "Content",
            "default": "Phasellus a ac hac turpis accumsan erat a consectetur lorem ultricies aliquam parturient molestie ut dui<br>vestibulum ullamcorper enim a phasellus. Hendrerit laoreet in vel a et primis scelerisque iaculis."
          },   
          {
            "type": "header", 
            "content": "Button 1 Setting"
          },
          {
            "type": "text",
            "id": "button_title_1",
            "label": "Button Title", 
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "Link"
          },     
          {
            "type": "select",
            "id": "button_style_1",
            "label": "Button Style",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "round",
                "label": "Round"
              },
              {
                "value": "link",
                "label": "Link"
              },
              {
                "value": "3d",
                "label": "3D"
              },
              {
                "value": "bordered",
                "label": "Bordered"
              } 
            ],
            "default": "bordered"
          },
          {
            "type": "select",
            "id": "button_size_1",
            "label": "Button Size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              },
              {
                "value": "extra-large",
                "label": "Extra-Large"
              } 
            ],
            "default": "default"
          },
          {
            "type": "select",
            "id": "button_color_1",
            "label": "Button Color",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "alt",
                "label": "Alt"
              },
              {
                "value": "primary",
                "label": "Primary"
              } 
            ],
            "default": "default"
          }, 
          {
            "type": "header", 
            "content": "Button 2 Setting"
          },
          {
            "type": "text",
            "id": "button_title_2",
            "label": "Button Title", 
            "default": "View More"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "Link"
          },     
          {
            "type": "select",
            "id": "button_style_2",
            "label": "Button Style",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "round",
                "label": "Round"
              },
              {
                "value": "link",
                "label": "Link"
              },
              {
                "value": "3d",
                "label": "3D"
              },
              {
                "value": "bordered",
                "label": "Bordered"
              } 
            ],
            "default": "link"
          },
          {
            "type": "select",
            "id": "button_size_2",
            "label": "Button Size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              },
              {
                "value": "extra-large",
                "label": "Extra-Large"
              } 
            ],
            "default": "default"
          },
          {
            "type": "select",
            "id": "button_color_2",
            "label": "Button Color",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "alt",
                "label": "Alt"
              },
              {
                "value": "primary",
                "label": "Primary"
              } 
            ],
            "default": "default"
          } 
		]
      }, 
      {
        "type":"banner_content",
        "name":"Banner Content",
        "settings": [   
          {
            "type": "select",
            "id": "background_layout",
            "label": "Layout",
            "options": [
              {
                "value": "0",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Fullwidth row"
              },
              {
                "value": "2",
                "label": "Fullwidth row and content"
              },
              {
                "value": "3",
                "label": "Fullwidth row and content (no padding)"
              }
            ],
            "default": "0"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color", 
            "default": "transparent"
          }, 
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Section background image" 
          },
          {
            "type": "select",
            "id": "background_image_repeat",
            "label": "Background Repeat",
            "options": [
              {
                "value": "no-repeat",
                "label": "No Repeat"
              },
              {
                "value": "repeat-x",
                "label": "Repeat x (Repeat Horizontal)"
              },
              {
                "value": "repeat-y",
                "label": "Repeat y (Repeat Verticle)"
              },
              {
                "value": "repeat",
                "label": "Repeat All"
              }
            ],
            "default": "no-repeat"
          },
          {
            "type": "select",
            "id": "background_size",
            "label": "Background Size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "cover",
                "label": "Cover"
              },
              {
                "value": "contain",
                "label": "Contain"
              }
            ],
            "default": "cover"
          },
          {
            "type": "select",
            "id": "background_attachment",
            "label": "Background Attachment",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "fixed",
                "label": "Fixed"
              },
              {
                "value": "scroll",
                "label": "Scroll"
              },
              {
                "value": "inherit",
                "label": "Inherit"
              }
            ],
            "default": "default"
          },
          {
            "type": "select",
            "id": "background_position",
            "label": "Background Position",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "left_top",
                "label": "Left Top"
              },
              {
                "value": "left_center",
                "label": "Left Center"
              },
              {
                "value": "left_bottom",
                "label": "Left Bottom"
              },
              {
                "value": "center_top",
                "label": "Center Top"
              },
              {
                "value": "center_center",
                "label": "Center Center"
              },
              {
                "value": "center_bottom",
                "label": "Center Bottom"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "text",
            "id": "margin_top",
            "label": "Section margin top",
            "info": "40px"
          },
          {
            "type": "text",
            "id": "margin_bottom",
            "label": "Section margin bottom",
            "info": "40px"
          },
          {
            "type": "image_picker",
            "id": "content_image",
            "label": "Content image" 
          }, 
          {
            "type": "select",
            "id": "content_postion",
            "label": "Content position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, 
              {
                "value": "right",
                "label": "Right"
              } 
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Turpis amet per fusce<br>ullamcorper auctor enim"
          },
          {
            "type": "text",
            "id": "title_fontsize",
            "label": "Title font size",
            "default": "48px",
            "info": "48px"
          },
          {
            "type": "select",
            "id": "title_font_weight",
            "label": "Title font weight",
            "options": [
              {
                "value": "300",
                "label": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
              {
                "value": "500",
                "label": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "value": "700",
                "label": "700"
              },
              {
                "value": "900",
                "label": "900"
              }
            ],
            "default": "300"
          },
          {
            "type": "html",
            "id": "content1",
            "label": "Content 1"
          },
          {
            "type": "html",
            "id": "content2",
            "label": "Content 2"
          }
		]
	  }, 
      {
        "type":"newsletter",
        "name":"Newsletter Heading",
		"limit": 1,
        "settings": [ {
            "type": "select",
            "id": "background_layout",
            "label": "Layout",
            "options": [
              {
                "value": "0",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Fullwidth row"
              },
              {
                "value": "2",
                "label": "Fullwidth row and content"
              },
              {
                "value": "3",
                "label": "Fullwidth row and content (no padding)"
              }
            ],
            "default": "0"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color", 
            "default": "transparent"
          }, 
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Section background image" 
          },
          {
            "type": "select",
            "id": "background_image_repeat",
            "label": "Background Repeat",
            "options": [
              {
                "value": "no-repeat",
                "label": "No Repeat"
              },
              {
                "value": "repeat-x",
                "label": "Repeat x (Repeat Horizontal)"
              },
              {
                "value": "repeat-y",
                "label": "Repeat y (Repeat Verticle)"
              },
              {
                "value": "repeat",
                "label": "Repeat All"
              }
            ],
            "default": "no-repeat"
          },
          {
            "type": "select",
            "id": "background_size",
            "label": "Background Size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "cover",
                "label": "Cover"
              },
              {
                "value": "contain",
                "label": "Contain"
              }
            ],
            "default": "cover"
          },
          {
            "type": "select",
            "id": "background_attachment",
            "label": "Background Attachment",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "fixed",
                "label": "Fixed"
              },
              {
                "value": "scroll",
                "label": "Scroll"
              },
              {
                "value": "inherit",
                "label": "Inherit"
              }
            ],
            "default": "default"
          },
          {
            "type": "select",
            "id": "background_position",
            "label": "Background Position",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "left_top",
                "label": "Left Top"
              },
              {
                "value": "left_center",
                "label": "Left Center"
              },
              {
                "value": "left_bottom",
                "label": "Left Bottom"
              },
              {
                "value": "center_top",
                "label": "Center Top"
              },
              {
                "value": "center_center",
                "label": "Center Center"
              },
              {
                "value": "center_bottom",
                "label": "Center Bottom"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "text",
            "id": "margin_top",
            "label": "Section margin top",
            "info": "40px"
          },
          {
            "type": "text",
            "id": "margin_bottom",
            "label": "Section margin bottom",
            "info": "40px"
          },
          {
            "type": "text",
            "id": "section_padding",
            "label": "Section padding",
            "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
          }, 
          {
            "type": "select",
            "id": "heading_box_position",
            "label": "Heading Postion",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "heading_text_align",
            "label": "Heading Text Align",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "center"
          }, 
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Grand Repos & Panchina<br>Aliquam Parturient"
          }, 
          {
            "type": "text",
            "id": "title_fontsize",
            "label": "Title font size",
            "default": "48px",
            "info": "48px"
          }, 
          {
            "type": "select",
            "id": "title_font_weight",
            "label": "Title font weight",
            "options": [
              {
                "value": "300",
                "label": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
              {
                "value": "500",
                "label": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "value": "700",
                "label": "700"
              },
              {
                "value": "900",
                "label": "900"
              }
            ],
            "default": "300"
          },
          {
            "type": "textarea",
            "id": "heading_content",
            "label": "Content",
            "default": "Phasellus a ac hac turpis accumsan erat a consectetur lorem ultricies aliquam parturient molestie ut dui<br>vestibulum ullamcorper enim a phasellus. Hendrerit laoreet in vel a et primis scelerisque iaculis."
          },   
          {
            "type": "header",
            "content": "Social Link"
          },
          {
            "type": "text",
            "id": "social_link",
            "label": "Link share"
          }
		]
      },
      {
        "type":"product",
        "name":"Product Link",
        "settings": [ 
          {
            "type": "select",
            "id": "background_layout",
            "label": "Layout",
            "options": [
              {
                "value": "0",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Fullwidth row"
              },
              {
                "value": "2",
                "label": "Fullwidth row and content"
              },
              {
                "value": "3",
                "label": "Fullwidth row and content (no padding)"
              }
            ],
            "default": "0"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color", 
            "default": "transparent"
          }, 
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Section background image" 
          },
          {
            "type": "select",
            "id": "background_image_repeat",
            "label": "Background Repeat",
            "options": [
              {
                "value": "no-repeat",
                "label": "No Repeat"
              },
              {
                "value": "repeat-x",
                "label": "Repeat x (Repeat Horizontal)"
              },
              {
                "value": "repeat-y",
                "label": "Repeat y (Repeat Verticle)"
              },
              {
                "value": "repeat",
                "label": "Repeat All"
              }
            ],
            "default": "no-repeat"
          },
          {
            "type": "select",
            "id": "background_size",
            "label": "Background Size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "cover",
                "label": "Cover"
              },
              {
                "value": "contain",
                "label": "Contain"
              }
            ],
            "default": "cover"
          },
          {
            "type": "select",
            "id": "background_attachment",
            "label": "Background Attachment",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "fixed",
                "label": "Fixed"
              },
              {
                "value": "scroll",
                "label": "Scroll"
              },
              {
                "value": "inherit",
                "label": "Inherit"
              }
            ],
            "default": "default"
          },
          {
            "type": "select",
            "id": "background_position",
            "label": "Background Position",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "left_top",
                "label": "Left Top"
              },
              {
                "value": "left_center",
                "label": "Left Center"
              },
              {
                "value": "left_bottom",
                "label": "Left Bottom"
              },
              {
                "value": "center_top",
                "label": "Center Top"
              },
              {
                "value": "center_center",
                "label": "Center Center"
              },
              {
                "value": "center_bottom",
                "label": "Center Bottom"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "text",
            "id": "margin_top",
            "label": "Section margin top",
            "info": "40px"
          },
          {
            "type": "text",
            "id": "margin_bottom",
            "label": "Section margin bottom",
            "info": "40px"
          },
          {
            "type": "text",
            "id": "section_padding",
            "label": "Section padding",
            "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
          }, 
          {
            "type": "select",
            "id": "content_color",
            "label": "Content Color",
            "options": [ 
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "dark"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Grand Repos & Panchina"
          }, 
          {
            "type": "text",
            "id": "title_fontsize",
            "label": "Title font size",
            "default": "56px",
            "info": "48px"
          },
          {
            "type": "select",
            "id": "title_font_weight",
            "label": "Title font weight",
            "options": [
              {
                "value": "300",
                "label": "300"
              },
              {
                "value": "400",
                "label": "400"
              },
              {
                "value": "500",
                "label": "500"
              },
              {
                "value": "600",
                "label": "600"
              },
              {
                "value": "700",
                "label": "700"
              },
              {
                "value": "900",
                "label": "900"
              }
            ],
            "default": "300"
          },
          {
            "type": "textarea",
            "id": "heading_content",
            "label": "Content",
            "default": "Turpis amet per fusce ullamcorper auctor enim a adipiscing est scelerisque at ornare justo vestibulum laoreet eget<br>vel taciti a vestibulum ac enim magna parturient aenean."
          },   
          {
            "type": "text",
            "id": "product_price",
            "label": "Product Price", 
            "default": "4299.00"
          },
          {
            "type": "header", 
            "content": "Button Setting"
          },
          {
            "type": "text",
            "id": "button_title",
            "label": "Button Title", 
            "default": "Add To Cart"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          },     
          {
            "type": "select",
            "id": "button_style",
            "label": "Button Style",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "round",
                "label": "Round"
              },
              {
                "value": "link",
                "label": "Link"
              },
              {
                "value": "3d",
                "label": "3D"
              },
              {
                "value": "bordered",
                "label": "Bordered"
              } 
            ],
            "default": "default"
          },
          {
            "type": "select",
            "id": "button_size",
            "label": "Button Size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              },
              {
                "value": "extra-large",
                "label": "Extra-Large"
              } 
            ],
            "default": "large"
          },
          {
            "type": "select",
            "id": "button_color",
            "label": "Button Color",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "alt",
                "label": "Alt"
              },
              {
                "value": "primary",
                "label": "Primary"
              } 
            ],
            "default": "primary"
          } 
		]
      }
	]
  }
{% endschema %}