{%- case section.settings.section_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%} 
<div data-section-id="{{ section.id }}" data-section-type="carousel-section">
  <div {{data_fullwidth}} class="vc_row wpb_row vc_row-fluid {% if section.settings.hide_background_mobile != blank %}mobile-bg-img-hidden{% endif %}  vc_custom_{{section.id}} {% if section.settings.section_layout == '3' %}vc_row-no-padding{% endif %}"  style="margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.padding}};">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper"> 
          {%- if section.blocks.size > 0 -%} 
          <div class="vc_row wpb_row vc_row-fluid vc_custom_1510839139415 vc_row-o-content-middle vc_row-flex">
          {%- for block in section.blocks -%}
          {%- case block.type -%} 
          {%- when 'banner' -%}
          <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-{{block.settings.column_width}}">
            <div class="vc_column-inner vc_custom_1510837617582">
              <div class="wpb_wrapper">
                <div class="promo-banner-wrapper">
                  <div class="promo-banner banner-vr-align-{{block.settings.content_align}} banner-hr-align-right banner- banner-hover-{{section.settings.banner_hover}} color-scheme-{{block.settings.content_color}} banner-btn-size-{{block.settings.button_size}} banner-btn-style-{{block.settings.button_style}} with-btn banner-btn-position-static">
                    <div class="main-wrapp-img">
                      <div class="banner-image">
                        {%- if block.settings.banner_image != blank -%}
                        {%- assign img_url = block.settings.banner_image | img_url: '860x492' -%}
                        {%- else -%}
                        {%- assign img_url = '860x492.png' | asset_url -%}
                        {%- endif -%}
                        <img src="{{ img_url }}" alt="{{ block.settings.image.alt }}" class="promo-banner-image image-1 attachment-full"/> 
                      </div>
                      <div class="wrapper-content-banner">
                        <div class="content-banner text-{{block.settings.content_text_align}} content-width-50 content-spacing-default">
                          <div class="banner-title-wrap banner-title-default"></div>
                          <div class="banner-inner content-size-{{block.settings.content_inner_size}}">
                            {%- if settings.language_enable -%}
                            <div class="lang1">{{ block.settings.content | split: '[lang2]' | first }}</div>
                            <div class="lang2">{{ block.settings.content | split: '[lang2]' | last }}</div>
                            {%- else -%}
                            {{ block.settings.content | split: '[lang2]' | first }}
                            {%- endif -%}
                          </div>
                          <div class="banner-btn-wrapper">
                            <div class="woodmart-button-wrapper text-{{block.settings.content_text_align}}">
                              <a href="{{block.settings.button_link}}" class="btn btn-color-{{block.settings.button_color}} btn-style-{{block.settings.button_style}} btn-size-{{block.settings.button_size}}">
                                {%- if settings.language_enable -%}
                                <span class="lang1">{{ block.settings.button_title | split: '|' | first }}</span>
                                <span class="lang2">{{ block.settings.button_title | split: '|' | last }}</span>
                                {%- else -%}
                                {{ block.settings.button_title | split: '|' | first }}
                                {%- endif -%}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- else -%}
          <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-{{block.settings.column_width}}">
            <div class="vc_column-inner vc_custom_1510837507863">
              <div class="wpb_wrapper">
                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1510740998158">
                  <div class="wpb_wrapper">
                    <div class="widget_products">
                      <div class="widget shopify widget_products">
                        <h2 class="widgettitle">
                          {% if settings.language_enable %}
                          <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                          <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                          {% else %}
                          {{ block.settings.title | split: '|' | first }}
                          {% endif %}
                        </h2>
                        {%- assign limit = block.settings.limit -%}      
                        {%- assign name_collection = block.settings.collection -%}
                        {%- if name_collection == blank -%}{%- assign name_collection = "all" -%}{%- endif -%}
                        {%- assign collection = collections[name_collection] -%} 
                        {%- if collection.products.size == 0 -%}
                        <p style="text-align:center;color:#999;padding: 5px 10px;font-style:italic;" {% if settings.language_enable %}data-translate="products.general.no_more_product"{% endif %}>{{ 'products.general.no_more_product' | t }}</p>
                        {%- else -%}
                        <ul class="product_list_widget">
                          {%- for product in collection.products limit: limit -%} 
                          {%- assign on_sale = false -%}
                          {%- if product.compare_at_price_min > product.price_min -%}
                          {%- assign on_sale = true -%}
                          {%- endif -%}
                          <li>
                            <a href="{{ product.url | within: collection }}">
                              <img src="{{ product.featured_image.src | img_url: '110x120' }}" class="attachment-shop_thumbnail size-shop_thumbnail">
                              <span class="product-title">
                                {% if settings.language_enable %}
                                <span class="lang1">{{ product.title | split: '|' | first }}</span>
                                <span class="lang2">{{ product.title | split: '|' | last }}</span>
                                {% else %}
                                {{ product.title | split: '|' | first }}
                                {% endif %}
                              </span>
                            </a> 
                            <span class="price">
                              {%- if on_sale -%} 
                              <del><span class="shopify-Price-amount amount"><span class="money">{{ product.compare_at_price | money }}</span></span></del> 
                              <ins><span class="shopify-Price-amount amount"><span class="money">{{ product.price | money }}</span></span></ins>
                              {%- else -%}
                              <span class="shopify-Price-amount amount"><span class="money">{{ product.price | money }}</span></span>
                              {%- endif -%}
                            </span>
                          </li> 
                          {%- endfor -%}
                        </ul> 
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- endcase -%}
          {%- endfor -%}
          </div>
          <style>
            .vc_custom_1510837617582 {
              margin-bottom: 4vh !important;
            }
            .vc_custom_1510837507863 {
              margin-bottom: 4vh !important;
            }
          </style>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {%- if section.settings.section_layout != '0' -%}
  <div class="vc_row-full-width vc_clearfix"></div>
  {%- endif -%}
  <style>
    .vc_custom_{{section.id}} { 
      border-top-width: 0px !important; 
      {%- if section.settings.background_image != blank -%}
      background-image: url({{section.settings.background_image | img_url: 'master'}}) !important;
      background-position: {{section.settings.background_position | replace: '_', ' ' }} !important;
      background-repeat: {{section.settings.background_image_repeat}} !important;
      background-size: {{section.settings.background_size}} !important;
      background-attachment: {{section.settings.background_attachment}} !important;
      {%- endif -%}
      background-color: {{section.settings.background_color}};
    }  
  </style>
</div>
{% schema %}
{
  "name": "Product & Promo Banner",
  "settings": [    
    {
      "type": "header", 
      "content": "Section Settings"
    },  
    {
      "type": "select",
      "id": "section_layout",
      "label": "Layout",
      "options": [
        {
          "value": "0",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Fullwidth row"
        },
        {
          "value": "2",
          "label": "Fullwidth row and content"
        },
        {
          "value": "3",
          "label": "Fullwidth row and content (no padding)"
        }
      ],
      "default": "0"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color", 
	  "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section background image" 
    },
    {
      "type": "checkbox",
      "id": "hide_background_mobile",
      "label": "Hide background image on mobile?", 
	  "default": false
    },
    {
      "type": "select",
      "id": "background_image_repeat",
      "label": "Background Repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat x (Repeat Horizontal)"
        },
        {
          "value": "repeat-y",
          "label": "Repeat y (Repeat Verticle)"
        },
        {
          "value": "repeat",
          "label": "Repeat All"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "background_attachment",
      "label": "Background Attachment",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "left_top",
          "label": "Left Top"
        },
        {
          "value": "left_center",
          "label": "Left Center"
        },
        {
          "value": "left_bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center_top",
          "label": "Center Top"
        },
        {
          "value": "center_center",
          "label": "Center Center"
        },
        {
          "value": "center_bottom",
          "label": "Center Bottom"
        }
      ],
      "default": "center_center"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section Margin Top", 
	  "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section Margin Bottom", 
	  "info": "40px"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
	  "info": "Ex:(40px 40px 40px) (top right bottom left)"
    },  
    {
    "type": "header", 
    "content": "Banner Settings"
    },   
    {
    "type": "select",
    "id": "banner_hover",
    "label": "Banner hover effect",
    "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "zoom",
        "label": "Zoom"
      },
      {
        "value": "zoom-reverse",
        "label": "Zoom-Reverse"
      },
      {
        "value": "background",
        "label": "Background"
      },
      {
        "value": "border",
        "label": "Border"
      }
      ],
      "default": "zoom"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Promo Banner",
	  "limit": 4,
      "settings": [ 
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        }, 
        {
          "type": "text",
          "id": "content",
          "label": "Content",
		  "default": "<span class=\"font-alt\" style=\"color: #565656; font-size: 18px;\">Special offer</span><p></p><h3 style=\"font-size: 54px; line-height: 1.1;\">Mauris Rhoncus</h3><h4 style=\"margin-bottom: 30px;\">Curabitur non nullat amet.</h4><p></p>"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title", 
          "default": "View More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },  
        {
          "type": "select",
          "id": "column_width",
          "label": "Column Width",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "6"
        },
        {
          "type": "header", 
          "content": "Content Settings"
        }, 
        {
          "type": "select",
          "id": "content_align",
          "label": "Content align",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "select",
          "id": "content_text_align",
          "label": "Content text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }, 
        {
          "type": "select",
          "id": "content_color",
          "label": "Content color",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },  
        {
          "type": "header", 
          "content": "Button Settings"
        },  
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "round",
              "label": "Round"
            },
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "3d",
              "label": "3D"
            },
            {
              "value": "bordered",
              "label": "Bordered"
            } 
          ],
          "default": "link"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "extra-large",
              "label": "Extra-Large"
            } 
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Button Color",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "alt",
              "label": "Alt"
            },
            {
              "value": "primary",
              "label": "Primary"
            } 
          ],
          "default": "default"
        }
      ]
    }, 
    {
      "type":"product",
      "name":"Product List",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "FEATURED PRODUCTS"
        },
        {
          "type": "collection",
          "label": "Collection Products",
          "id": "collection"
        },
        {
          "type": "text",
          "id": "limit",
          "label": "Limit",
          "default": "3"
        },  
        {
          "type": "select",
          "id": "column_width",
          "label": "Column Width",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "3"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Product & Promo Banner",
    "category": "Product", 
    "blocks": [
      {
        "type": "banner",
		"settings": {
		  "content": "<span class=\"font-alt\" style=\"color: #565656; font-size: 18px;\">Special offer</span><p></p><h3 style=\"font-size: 54px; line-height: 1.1;\">Mauris Rhoncus</h3><h4 style=\"margin-bottom: 30px;\">Curabitur non nullat amet.</h4><p></p>",
          "button_title": "View More"
        }
      },
      {
        "type": "product",
		"settings": { 
          "title": "FEATURED PRODUCTS"
        }
      },
      {
        "type": "product",
		"settings": { 
          "title": "NEW PRODUCTS"
        }
      }
    ]
  }]
}
{% endschema %}