{%- case section.settings.section_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%} 
<div data-section-id="{{ section.id }}" data-section-type="video-poster-section">
  <div {{data_fullwidth}} class="vc_row wpb_row vc_row-fluid {% if section.settings.hide_background_mobile != blank %}mobile-bg-img-hidden{% endif %} vc_custom_{{section.id}} vc_row-has-fill woodmart-bg-center-center {% if section.settings.section_layout == '3' %}vc_row-no-padding{% endif %} woodmart-bg-left-top" style="margin-top:{{section.settings.margin_top | remove: 'px' | append: 'px' }}; margin-bottom:{{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.padding}};">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner vc_custom_1497449920215">
        <div id="video_poster_{{section.id}}" class="wpb_wrapper"> 
          <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
            {%- if section.settings.video_position == 'left' -%}
            <div class="wpb_column vc_column_container vc_col-sm-6 text-center">
              <div class="vc_column-inner vc_custom_22{{section.id}}">
                <div class="wpb_wrapper">
                  <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_custom_1510756404314 vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                    <div class="wpb_wrapper">
                  <div class="wpb_video_wrapper">
                    <div class="woodmart-video-poster-wrapper">
                      {%- if section.settings.image_preview != blank -%}
                      {%- assign img_url = section.settings.image_preview | img_url: '586x360' -%}
                      {%- else -%}
                      {%- assign img_url = '586x360.png' | asset_url -%}
                      {%- endif -%}
                      <div class="woodmart-video-poster" style="background-image:url({{img_url}})"></div>
                      <div class="button-play"></div>
                    </div>
                    <iframe width="500" height="282" src="{{section.settings.video_url}}" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                  </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%- endif -%}
            <div class="wpb_column vc_column_container vc_col-sm-6">
              <div class="text-{{section.settings.heading_postion}} vc_column-inner vc_custom_1497449920115">
                <div class="wpb_wrapper">
                  <div class="title-wrapper woodmart-title-color-{{section.settings.heading_color}} woodmart-title-style-{{section.settings.heading_style}} woodmart-title-size-{{section.settings.heading_size}} woodmart-title-width-100 text-{{section.settings.heading_postion}}">
                    {%- if section.settings.heading_top != '' -%}
                    <div class="title-subtitle font-default style-{{section.settings.heading_style}}">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ section.settings.heading_top | split: '|' | first }}</span>
                      <span class="lang2">{{ section.settings.heading_top | split: '|' | last }}</span>
                      {%- else -%}
                      {{ section.settings.heading_top | split: '|' | first }}
                      {%- endif -%}
                    </div>
                    {%- endif -%} 
                    {%- if section.settings.title != '' -%}
                    <div class="liner-continer">
                      <span class="left-line"></span>
                      <h4 class="woodmart-title-container title  woodmart-font-weight-">
                        {%- if settings.language_enable -%}
                        <span class="lang1">{{ section.settings.title | split: '|' | first }}</span>
                        <span class="lang2">{{ section.settings.title | split: '|' | last }}</span>
                        {%- else -%}
                        {{ section.settings.title | split: '|' | first }}
                        {%- endif -%}
                      </h4>
                      <span class="right-line"></span>
                    </div>
                    {%- endif -%}
                    {%- if section.settings.heading_content != '' -%}
                    <div class="title-after_title">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ section.settings.heading_content | split: '|' | first }}</span>
                      <span class="lang2">{{ section.settings.heading_content | split: '|' | last }}</span>
                      {%- else -%}
                      {{ section.settings.heading_content | split: '|' | first }}
                      {%- endif -%}
                    </div>
                    {%- endif -%}
                    <style> 
                      {%- if section.settings.heading_top == '' and section.settings.title == '' and section.settings.heading_content == '' -%}
                      .vc_custom_{{section.id}} .title-wrapper {
                        margin-bottom: 0;
                      }
                      {%- endif -%} 
                    </style>
                  </div> 
                  {%- if section.settings.button_text_1 != '' -%}
                  <div class="woodmart-button-wrapper text-center btn-inline">
                    <a href="{{section.settings.button_link_1}}" class="btn btn-color-{{section.settings.button_color_1}} btn-scheme-light btn-scheme-hover-light btn-style-{{section.settings.button_style_1}} btn-shape-rectangle btn-size-{{section.settings.button_size_1}}">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ section.settings.button_text_1 | split: '|' | first }}</span>
                      <span class="lang2">{{ section.settings.button_text_1 | split: '|' | last }}</span>
                      {%- else -%}
                      {{ section.settings.button_text_1 | split: '|' | first }}
                      {%- endif -%}
                    </a>
                  </div>
                  {%- endif -%}
                  {%- if section.settings.button_text_2 != '' -%}
                  <div class="woodmart-button-wrapper text-center btn-inline">
                    <a href="{{section.settings.button_link_2}}" class="btn btn-color-{{section.settings.button_color_2}} btn-scheme-light btn-scheme-hover-light btn-style-{{section.settings.button_style_2}} btn-shape-rectangle btn-size-{{section.settings.button_size_2}}">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ section.settings.button_text_2 | split: '|' | first }}</span>
                      <span class="lang2">{{ section.settings.button_text_2 | split: '|' | last }}</span>
                      {%- else -%}
                      {{ section.settings.button_text_2 | split: '|' | first }}
                      {%- endif -%}
                    </a>
                  </div>
                  {%- endif -%}
                </div> 
              </div>
            </div>
            {%- if section.settings.video_position == 'right' -%}
            <div class="wpb_column vc_column_container vc_col-sm-6 text-center">
              <div class="vc_column-inner vc_custom_22{{section.id}}">
                <div class="wpb_wrapper">
                  <div class="wpb_video_wrapper">
                    <div class="woodmart-video-poster-wrapper">
                      {%- if section.settings.image_preview != blank -%}
                      {%- assign img_url = section.settings.image_preview | img_url: '586x360' -%}
                      {%- else -%}
                      {%- assign img_url = '586x360.png' | asset_url -%}
                      {%- endif -%}
                      <div class="woodmart-video-poster" style="background-image:url({{img_url}})"></div>
                      <div class="button-play"></div>
                    </div>
                    <iframe width="500" height="282" src="{{section.settings.video_url}}" frameborder="0" gesture="media" allowfullscreen=""></iframe>
                  </div> 
                </div>
              </div>
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div> 
    <style>
      .vc_custom_{{section.id}} {  
        {%- if section.settings.background_image != blank -%}
        background-image: url({{section.settings.background_image | img_url: 'master'}}) !important;
        background-position: {{section.settings.background_position | replace: '_', ' ' }} !important;
        background-repeat: {{section.settings.background_image_repeat}} !important;
        background-size: {{section.settings.background_size}} !important;
        background-attachment: {{section.settings.background_attachment}} !important;
        {%- endif -%}
        background-color: {{section.settings.background_color}};
      } 
      .vc_custom_1497449920115 {
        padding-top: 15px !important;
        padding-right: 5% !important;
        padding-bottom: 15px !important;
        padding-left: 5% !important;
      }
      .vc_custom_1497449920215 {padding-top: 0 !important;}
    </style>
  </div>
  {%- if section.settings.section_layout != '0' -%}
  <div class="vc_row-full-width vc_clearfix"></div>
  {%- endif -%} 
</div>
{% schema %}
{
  "name": "Video Content 2",
  "settings": [ 
    {
      "type": "header", 
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "Layout",
      "options": [
        {
          "value": "0",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Fullwidth row"
        },
        {
          "value": "2",
          "label": "Fullwidth row and content"
        },
        {
          "value": "3",
          "label": "Fullwidth row and content (no padding)"
        }
      ],
      "default": "1"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color", 
	  "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section background image" 
    },
    {
      "type": "checkbox",
      "id": "hide_background_mobile",
      "label": "Hide background image on mobile?", 
	  "default": true
    },
    {
      "type": "select",
      "id": "background_image_repeat",
      "label": "Background Repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat x (Repeat Horizontal)"
        },
        {
          "value": "repeat-y",
          "label": "Repeat y (Repeat Verticle)"
        },
        {
          "value": "repeat",
          "label": "Repeat All"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "background_attachment",
      "label": "Background Attachment",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "left_top",
          "label": "Left Top"
        },
        {
          "value": "left_center",
          "label": "Left Center"
        },
        {
          "value": "left_bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center_top",
          "label": "Center Top"
        },
        {
          "value": "center_center",
          "label": "Center Center"
        },
        {
          "value": "center_bottom",
          "label": "Center Bottom"
        }
      ],
      "default": "center_center"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section Margin Top",
	  "info": "45px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section Margin Bottom", 
	  "info": "45px"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding", 
      "info": "Ex:(40px 40px 40px) (top right bottom left)"
    },  
    {
      "type": "header", 
      "content": "Video Setting"
    },
    {
      "type": "image_picker",
      "id": "image_preview",
      "label": "Image Preview" 
    },  
    {
      "type": "text",
      "id": "video_url",
      "label": "Video url",
      "default": "https://www.youtube.com/embed/Ze7xsy9tVVQ?feature=oembed",
      "info": "Link video embed"
    }, 
    {
      "type": "select",
      "id": "video_position",
      "label": "Video Position",
      "default": "left",
      "options": [ 
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        } 
      ]
    }, 
    {
      "type": "header", 
      "content": "Content Settings"
    }, 
    {
      "type": "select",
      "id": "heading_style",
      "label": "Heading Style",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "simple",
          "label": "Simple"
        },
        {
          "value": "bordered",
          "label": "Bordered"
        },
        {
          "value": "underlined",
          "label": "Underlined"
        },
        {
          "value": "shadow",
          "label": "Shadow"
        } 
      ]
    },
    {
      "type": "select",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "alt",
          "label": "Alt"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        } 
      ]
    },
    {
      "type": "select",
      "id": "heading_postion",
      "label": "Heading Text Algin",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        } 
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Text Size",
      "default": "large",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "extra-large",
          "label": "Extra Large"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading_top",
      "label": "Heading Top",
      "default": "PORTTITOR ADIPISCING PARTURIENT"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Enjoy the best quality and features<br>made by WoodMart."
    },
    {
      "type": "textarea",
      "id": "heading_content",
      "label": "Content",
      "default": "Etiam semper nibh orci, ac tincidunt mi consectetur a. In quis tortor ex. Morbi cursus sed neque quis dictum. Duis bibendum ullamcorper pharetra. Vivamus quis turpis et enim cursus neque quis dictum volutpat convallis."
    },  
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button Link 1"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "label": "Button Style 1",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "round",
          "label": "Round"
        },
        {
          "value": "link",
          "label": "Link"
        },
        {
          "value": "3d",
          "label": "3D"
        },
        {
          "value": "bordered",
          "label": "Bordered"
        } 
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "button_size_1",
      "label": "Button Size 1",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "extra-large",
          "label": "Extra-Large"
        } 
      ],
      "default": "extra-large"
    },
    {
      "type": "select",
      "id": "button_color_1",
      "label": "Button Color 1",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "alt",
          "label": "Alt"
        },
        {
          "value": "primary",
          "label": "Primary"
        } 
      ],
      "default": "primary"
    },  
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button Text 2",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button Link 2"
    },
    {
      "type": "select",
      "id": "button_style_2",
      "label": "Button Style 2",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "round",
          "label": "Round"
        },
        {
          "value": "link",
          "label": "Link"
        },
        {
          "value": "3d",
          "label": "3D"
        },
        {
          "value": "bordered",
          "label": "Bordered"
        } 
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "button_size_2",
      "label": "Button Size 2",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "extra-large",
          "label": "Extra-Large"
        } 
      ],
      "default": "extra-large"
    },
    {
      "type": "select",
      "id": "button_color_2",
      "label": "Button Color 2",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "alt",
          "label": "Alt"
        },
        {
          "value": "primary",
          "label": "Primary"
        } 
      ],
      "default": "primary"
    }
  ], 
  "presets": [{
    "name": "Video Content 2",
    "category": "Banner"
  }]
}
{% endschema %}