{%- case section.settings.section_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%} 
<div data-section-id="{{ section.id }}" data-section-type="text-section">
  <div {{data_fullwidth}} class="text-section spb_column {% if section.settings.hide_background_mobile != blank %}mobile-bg-img-hidden{% endif %} vc_custom_{{section.id}} vc_row {% if section.settings.section_layout == '3' %}vc_row-no-padding{% endif %}"  style="margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.padding}};">
    <div class="vc_column-inner vc_custom_1488538101973">
      <div class="wpb_wrapper">
        <div class="title-wrapper woodmart-title-color-{{section.settings.heading_color}} woodmart-title-style-{{section.settings.heading_style}} woodmart-title-size-{{section.settings.heading_size}} woodmart-title-width-100 text-{{section.settings.heading_postion}} vc_custom_1497356866356">
          {%- if section.settings.heading_top != '' -%}
          <div class="title-subtitle font-default style-default">
            {%- if settings.language_enable -%}
            <span class="lang1">{{ section.settings.heading_top | split: '|' | first }}</span>
            <span class="lang2">{{ section.settings.heading_top | split: '|' | last }}</span>
            {%- else -%}
            {{ section.settings.heading_top | split: '|' | first }}
            {%- endif -%}
          </div>
          {%- endif -%}
          {%- if section.settings.title != '' -%}
          <div class="liner-continer">
            <span class="left-line"></span>
            <h4 class="woodmart-title-container title  woodmart-font-weight-">
              {%- if settings.language_enable -%}
              <span class="lang1">{{ section.settings.title | split: '|' | first }}</span>
              <span class="lang2">{{ section.settings.title | split: '|' | last }}</span>
              {%- else -%}
              {{ section.settings.title | split: '|' | first }}
              {%- endif -%}
            </h4>
            <span class="right-line"></span>
          </div>
          {%- endif -%}
          {%- if section.settings.heading_content != '' -%}
          <div class="title-after_title">
            {%- if settings.language_enable -%}
            <span class="lang1">{{ section.settings.heading_content | split: '|' | first }}</span>
            <span class="lang2">{{ section.settings.heading_content | split: '|' | last }}</span>
            {%- else -%}
            {{ section.settings.heading_content | split: '|' | first }}
            {%- endif -%}
          </div>
          {%- endif -%}
          <style> 
            {%- if section.settings.heading_top == '' and section.settings.title == '' and section.settings.heading_content == '' -%}
            .vc_custom_{{section.id}} .title-wrapper {
              margin-bottom: 0;
            }
            {%- endif -%} 
          </style>
        </div>
        {%- if section.blocks.size > 0 -%} 
        {%- assign columns = 12 | divided_by: section.blocks.size %}
        {%- for block in section.blocks -%}
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-{{columns}} vc_col-md-{{columns}} vc_col-has-fill">
          <div class="vc_column-inner vc_custom_1496841267690 {% if forloop.last %}last{% endif %}">
            <div class="wpb_wrapper"> 
              <div class=" woodmart-info-box text-{{block.settings.content_text_align}} box-title-default icon-alignment-left box- color-scheme-{{block.settings.content_color}} with-btn btn-position-hover vc_custom_1496841635979">
                <div class="box-icon-wrapper  with-text text-size-{{block.settings.text_left_size}} icon-style-simple">
                  {{block.settings.text_left}}
                </div>
                <div class="info-box-content">
                  {%- if block.settings.title != "" -%}
                  <h4 class="info-box-title">
                    {% if settings.language_enable %}
                    <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                    <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                    {% else %}
                    {{ block.settings.title | split: '|' | first }}
                    {% endif %}
                  </h4>
                  {%- endif -%}
                  {%- if block.settings.content != "" -%}
                  <div class="info-box-inner">
                    {% if settings.language_enable %}
                    <span class="lang1">{{ block.settings.content | split: '[lang2]' | first }}</span>
                    <span class="lang2">{{ block.settings.content | split: '[lang2]' | last }}</span>
                    {% else %}
                    {{ block.settings.content | split: '[lang2]' | first }}
                    {% endif %}
                  </div>
                  {%- endif -%}
                  {%- if block.settings.button_title != '' -%}
                  <div class="info-btn-wrapper">
                    <div class="woodmart-button-wrapper text-{{block.settings.content_text_align}}">
                      <a href="{{block.settings.button_link}}" class="btn btn-color-{{block.settings.button_color}} btn-scheme-light btn-scheme-hover-light btn-style-{{block.settings.button_style}} btn-shape-rectangle btn-size-{{block.settings.button_size}}">
                        {% if settings.language_enable %}
                        <span class="lang1">{{ block.settings.button_title | split: '|' | first }}</span>
                        <span class="lang2">{{ block.settings.button_title | split: '|' | last }}</span>
                        {% else %}
                        {{ block.settings.button_title | split: '|' | first }}
                        {% endif %}
                      </a>
                    </div>
                  </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
        {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- if section.settings.section_layout != '0' -%}
  <div class="vc_row-full-width vc_clearfix"></div>
  {%- endif -%}
  <style>
    .vc_custom_{{section.id}} {  
      border-top-width: 0px !important; 
      {%- if section.settings.background_image != blank -%}
      background-image: url({{section.settings.background_image | img_url: 'master'}}) !important;
      background-position: {{section.settings.background_position | replace: '_', ' ' }} !important;
      background-repeat: {{section.settings.background_image_repeat}} !important;
      background-size: {{section.settings.background_size}} !important;
      background-attachment: {{section.settings.background_attachment}} !important;
      {%- endif -%}
      background-color: {{section.settings.background_color}};
      border-bottom-width: 1px; 
      border-bottom-color: rgba(129,129,129,0.2);
      border-bottom-style: solid;
    }  
    .vc_custom_1496841267690 {
      border-right-width: 1px;
      padding-top: 20px !important;
      padding-right: 10% !important;
      padding-bottom: 20px !important;
      padding-left: 10% !important;
      border-right-color: rgba(129,129,129,0.2);
      border-right-style: solid;
    }
    .vc_custom_1496841267690.last {border: none !important;}
    .vc_custom_1496841635979 {margin-bottom: 0;}
  </style>
</div>
{% schema %}
{
  "name": "Section Text",
  "max_blocks": 4,
  "settings": [    
    {
      "type": "header", 
      "content": "Section Settings"
    },  
    {
      "type": "select",
      "id": "section_layout",
      "label": "Layout",
      "options": [
        {
          "value": "0",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Fullwidth row"
        },
        {
          "value": "2",
          "label": "Fullwidth row and content"
        },
        {
          "value": "3",
          "label": "Fullwidth row and content (no padding)"
        }
      ],
      "default": "0"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color", 
	  "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section background image" 
    },
    {
      "type": "checkbox",
      "id": "hide_background_mobile",
      "label": "Hide background image on mobile?", 
	  "default": true
    },
    {
      "type": "select",
      "id": "background_image_repeat",
      "label": "Background Repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat x (Repeat Horizontal)"
        },
        {
          "value": "repeat-y",
          "label": "Repeat y (Repeat Verticle)"
        },
        {
          "value": "repeat",
          "label": "Repeat All"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "background_attachment",
      "label": "Background Attachment",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "left_top",
          "label": "Left Top"
        },
        {
          "value": "left_center",
          "label": "Left Center"
        },
        {
          "value": "left_bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center_top",
          "label": "Center Top"
        },
        {
          "value": "center_center",
          "label": "Center Center"
        },
        {
          "value": "center_bottom",
          "label": "Center Bottom"
        }
      ],
      "default": "center_center"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section Margin Top", 
	  "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section Margin Bottom", 
	  "info": "40px"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "default" : "0 0 0 0",
	  "info": "Ex:(40px 40px 40px) (top right bottom left)"
    },
    {
      "type": "text",
      "id": "heading_top",
      "label": "Heading Top",
      "default": "SEE OUR COLLECTION"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "HOW WE WORKS"
    },
    {
      "type": "textarea",
      "id": "heading_content",
      "label": "Content",
      "default": "There are many variations of passages of lorem ipsum available."
    }, 
    {
      "type": "select",
      "id": "heading_style",
      "label": "Heading Style",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "simple",
          "label": "Simple"
        },
        {
          "value": "bordered",
          "label": "Bordered"
        },
        {
          "value": "underlined",
          "label": "Underlined"
        },
        {
          "value": "shadow",
          "label": "Shadow"
        } 
      ]
    },
    {
      "type": "select",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "alt",
          "label": "Alt"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "gradient",
          "label": "Gradient"
        } 
      ]
    },
    {
      "type": "select",
      "id": "heading_postion",
      "label": "Heading Text Algin",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        } 
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Text Size",
      "default": "medium",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "extra-large",
          "label": "Extra Large"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Item",
      "settings": [   
        {
          "type": "text",
          "id": "text_left",
          "label": "Text Left", 
          "default": "<div class=\"info-box-icon\">01.</div>"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title", 
          "default": "AMAZING<br>FASHION"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title", 
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "header", 
          "content": "Content Settings"
        },    
        {
          "type": "select",
          "id": "text_left_size",
          "label": "Text Left Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "extra-large",
              "label": "Extra-Large"
            } 
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "content_text_align",
          "label": "Content text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }, 
        {
          "type": "select",
          "id": "content_color",
          "label": "Content color",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },     
        {
          "type": "header", 
          "content": "Button Settings"
        },  
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "round",
              "label": "Round"
            },
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "3d",
              "label": "3D"
            },
            {
              "value": "bordered",
              "label": "Bordered"
            } 
          ],
          "default": "link"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "extra-large",
              "label": "Extra-Large"
            } 
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Button Color",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "alt",
              "label": "Alt"
            },
            {
              "value": "primary",
              "label": "Primary"
            } 
          ],
          "default": "default"
        }
      ]
    } 
  ],
  "presets": [{
    "name": "Section Text",
    "category": "Text Section", 
    "blocks": [
      {
        "type": "text",
		"settings": {
		  "text_left": "<div class=\"info-box-icon\">01.</div>",
		  "title": "<strong>SHOP FEATURE 1</strong>",
          "content": "Massa a erat nam aliquam condi mentu tum in cum proin.",
          "button_title": "Read More"
		}
      },
      {
        "type": "text",
		"settings": {
		  "text_left": "<div class=\"info-box-icon\">02.</div>",
          "title": "<strong>SHOP FEATURE 2</strong>",
          "content": "Adipiscing proin lobortis nunc luctus conubia ac facilisi.",
          "button_title": "Read More"
		}
      },
      {
        "type": "text",
		"settings": {
		  "text_left": "<div class=\"info-box-icon\">03.</div>",
          "title": "<strong>SHOP FEATURE 3</strong>",
          "content": "Ulamcorper parturient adipiscing nisi rutrum eleifend class.",
          "button_title": "Read More"
		}
      }  
    ]
  }]
}
{% endschema %}
