{%- case section.settings.section_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%} 
<div class="product-grid" data-section-id="{{ section.id }}" data-section-type="carousel-section">
  <div {{data_fullwidth}} id="product-carousel-{{section.id}}" class="vc_row wpb_row vc_row-fluid {% if section.settings.hide_background_mobile != blank %}mobile-bg-img-hidden{% endif %} vc_custom_{{section.id}} vc_row-has-fill {% if section.settings.section_layout == '3' %}vc_row-no-padding{% endif %}" style="margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.section_padding}};">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          {%- if section.blocks.size > 0 -%} 
          <div class="vc_row wpb_row vc_row-fluid vc_custom_1510823107066 woodmart-bg-center-center row-reverse-mobile">
            {%- for block in section.blocks -%}
            {%- case block.type -%} 
            {%- when 'banner' -%}
            <div class="wpb_column vc_column_container vc_col-sm-{{block.settings.item_width}} {% if block.settings.hidden_tablet != blank %}vc_hidden-md{% endif %} {% if block.settings.hidden_mobile != blank %}vc_hidden-sm vc_hidden-xs{% endif %}">
              <div class="vc_column-inner vc_custom_1510823366145">
                <div class="wpb_wrapper">
                  <div class="promo-banner-wrapper">
                    <div class="promo-banner cursor-pointer banner-vr-align-{{block.settings.content_align}} banner-hr-align-left banner- banner-hover-{{section.settings.banner_hover}} color-scheme-{{block.settings.content_color}} banner-btn-size-{{block.settings.button_size}} banner-btn-style-{{block.settings.button_style}} {% if section.settings.banner_increased_padding != blank %}banner-increased-padding{% endif %} with-btn banner-btn-position-{{section.settings.banner_hover_button}}">
                      <div class="main-wrapp-img">
                        <div class="banner-image">
                          {%- if block.settings.banner_image != blank -%}
                          {%- assign img_url = block.settings.banner_image | img_url: 'master' -%}
                          {%- else -%}
                          {%- assign img_url = '400x267.png' | asset_url -%}
                          {%- endif -%}
                          <img src="{{ img_url }}" alt="{{ block.settings.image.alt }}" class="promo-banner-image image-1 attachment-full"/> 
                        </div>
                      </div>
                      <div class="wrapper-content-banner">
                        <div class="content-banner text-{{block.settings.content_text_align}} content-width-100 content-spacing-default">
                          <div class="banner-title-wrap banner-title-{{block.settings.title_size}}">
                            {%- if block.settings.sub_title != '' -%}
                            <span class="banner-subtitle subtitle-color-{{block.settings.subtitle_color}} subtitle-style-{{block.settings.subtitle_style}}">
                              {%- if settings.language_enable -%}
                              <span class="lang1">{{ block.settings.sub_title | split: '|' | first }}</span>
                              <span class="lang2">{{ block.settings.sub_title | split: '|' | last }}</span>
                              {%- else -%}
                              {{ block.settings.sub_title | split: '|' | first }}
                              {%- endif -%}
                            </span>
                            {%- endif -%}
                            {%- if block.settings.title != '' -%}
                            <h4 class="banner-title woodmart-font-weight-{{block.settings.title_font_weight}}">
                              {%- if settings.language_enable -%}
                              <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                              <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                              {%- else -%}
                              {{ block.settings.title | split: '|' | first }}
                              {%- endif -%}
                            </h4>
                            {%- endif -%}
                          </div>
                          {%- if block.settings.content != '' -%}
                          <div class="banner-inner content-size-{{block.settings.content_inner_size}}">
                            {%- if settings.language_enable -%}
                            <div class="lang1">{{ block.settings.content | split: '[lang2]' | first }}</div>
                            <div class="lang2">{{ block.settings.content | split: '[lang2]' | last }}</div>
                            {%- else -%}
                            {{ block.settings.content | split: '[lang2]' | first }}
                            {%- endif -%}
                          </div>
                          {%- endif -%}
                          {%- if block.settings.button_title != '' -%}
                          <div class="banner-btn-wrapper">
                            <div class="woodmart-button-wrapper text-{{block.settings.content_text_align}}">
                              <a href="{{block.settings.button_link}}" title="" class="btn btn-color-{{block.settings.button_color}} btn-style-{{block.settings.button_style}} btn-size-{{block.settings.button_size}}">
                                {%- if settings.language_enable -%}
                                <span class="lang1">{{ block.settings.button_title | split: '|' | first }}</span>
                                <span class="lang2">{{ block.settings.button_title | split: '|' | last }}</span>
                                {%- else -%}
                                {{ block.settings.button_title | split: '|' | first }}
                                {%- endif -%}
                              </a>
                            </div>
                          </div>
                          {%- endif -%}
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            {%- else -%}
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-{{block.settings.item_width}} vc_col-md-12 vc_col-xs-12">
              <div class="vc_column-inner vc_custom_76{{section.id}}">
                <div class="wpb_wrapper">
                  <div id="slide_{{section.id}}" class="vc_carousel_container">
                    <div class="data-carousel" data-items="{{ section.settings.carousel_columns }}" data-auto="{{ section.settings.carousel_autoplay }}" data-paging="{{ section.settings.carousel_pagination }}" data-loop="{{section.settings.carousel_loop}}" data-320="2" data-414="2" data-768="2" data-992="3" data-1200="{{ section.settings.carousel_columns }}" data-margin="0" data-nav="{{ section.settings.carousel_navigation }}" data-prev='' data-next='' style="display: none;"></div>
                    <div class="owl-carousel slider-type-product">
                      {%- case block.settings.hover_product -%}
                        {%- when 'base' -%}
                          {%- assign pl_include = 'section_hover_product_base' -%} 
                        {%- when 'alt' -%}
                          {%- assign pl_include = 'section_hover_product_alt' -%}
                        {%- when 'info' -%}
                          {%- assign pl_include = 'section_hover_product_info' -%}
                        {%- when 'info-alt' -%}
                          {%- assign pl_include = 'section_hover_product_info_alt' -%}
                        {%- when 'button' -%}
                          {%- assign pl_include = 'section_hover_product_button' -%}
                        {%- when 'icon' -%}
                          {%- assign pl_include = 'section_hover_product_icon' -%}
                        {%- when 'standard' -%}
                          {%- assign pl_include = 'section_hover_product_standard' -%} 
                        {%- when 'quick' -%}
                          {%- assign pl_include = 'section_hover_product_quick' -%}
                        {%- when 'tiled' -%}
                          {%- assign pl_include = 'section_hover_product_tiled' -%}
                      {%- endcase -%} 
                      {%- if block.settings.collection == blank -%}
                        {%- if collections["frontpage"].products.size > 0 -%}
                          {%- assign collection = collections["frontpage"] -%}
                        {%- else -%}
                          {%- assign collection = collections["all"] -%}
                        {%- endif -%}
                      {%- else -%}
                        {%- assign collection = collections[block.settings.collection] -%}
                      {%- endif -%}
                      {%- assign limit = block.settings.limit | plus: 0 -%}
                      {%- for product in collection.products limit:limit -%}
                        {%- assign sold_out = true -%}
                        {%- if product.available -%}
                          {%- assign sold_out = false -%}
                        {%- endif -%}
                        {%- assign on_sale = false -%}
                        {%- if product.compare_at_price_min > product.price_min -%}
                          {%- assign on_sale = true -%}
                        {%- endif -%}
                        {%- assign variant_tmp = product.selected_or_first_available_variant -%}
                        {%- for variant in product.variants -%}
                          {%- if variant.available == true and variant.price < variant_tmp.price -%}
                            {%- assign variant_tmp = variant -%}	
                          {%- endif -%}
                        {%- endfor -%}
                        {%- case settings.collection_aspect_ratio -%}
                        {%- when '1' -%}
                          {%- assign image_width = settings.collection_ratio_width -%}
                          {%- assign image_height = '' -%} 
                        {%- else -%}
                          {%- assign image_width = settings.collection_ratio_width -%}
                          {%- assign image_height = settings.collection_ratio_height -%}
                        {%- endcase -%} 
                        {%- capture image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%} 
                        <div class="slide-product owl-carousel-item">
                          <div class="owl-carousel-item-inner">
                            {%- include pl_include, carousel: true, countdown: settings.collection_product_countdown -%}
                          </div>
                        </div> 
                      {%- endfor-%} 
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            {%- endcase -%}
            {%- endfor -%}
          </div>
          {%- endif -%} 
        </div>
      </div>
    </div>
  </div>
  {%- if section.settings.section_layout != '0' -%}
  <div class="vc_row-full-width vc_clearfix"></div>
  {%- endif -%} 
  <style>
    .vc_custom_{{section.id}} { 
      border-top-width: 0px !important; 
      {%- if section.settings.background_image != blank -%}
      background-image: url({{section.settings.background_image | img_url: 'master'}}) !important;
      background-position: {{section.settings.background_position | replace: '_', ' ' }} !important;
      background-repeat: {{section.settings.background_image_repeat}} !important;
      background-size: {{section.settings.background_size}} !important;
      background-attachment: {{section.settings.background_attachment}} !important;
      {%- endif -%}
      background-color: {{section.settings.background_color}};
    }
    .vc_custom_1510823366145 {
      padding-top: 0px !important;
    }
    .vc_custom_76{{section.id}} {
      padding-top: 0px !important;
      {%- if section.blocks.size > 1 -%} 
      padding-right: 30px !important;
      padding-left: 30px !important;
      {%- endif -%}
    }
  </style>
</div>
{%- schema -%}
{
  "name": "Product Carousel & Banner",
  "settings": [
    {
      "type": "header", 
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "Layout",
      "options": [
        {
          "value": "0",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Fullwidth row"
        },
        {
          "value": "2",
          "label": "Fullwidth row and content"
        },
        {
          "value": "3",
          "label": "Fullwidth row and content (no padding)"
        }
      ],
      "default": "0"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section background image" 
    },
    {
      "type": "checkbox",
      "id": "hide_background_mobile",
      "label": "Hide background image on mobile?", 
	  "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Section background color" 
    },
    {
      "type": "select",
      "id": "background_image_repeat",
      "label": "Background Repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat x (Repeat Horizontal)"
        },
        {
          "value": "repeat-y",
          "label": "Repeat y (Repeat Verticle)"
        },
        {
          "value": "repeat",
          "label": "Repeat All"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "background_attachment",
      "label": "Background Attachment",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "left_top",
          "label": "Left Top"
        },
        {
          "value": "left_center",
          "label": "Left Center"
        },
        {
          "value": "left_bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center_top",
          "label": "Center Top"
        },
        {
          "value": "center_center",
          "label": "Center Center"
        },
        {
          "value": "center_bottom",
          "label": "Center Bottom"
        }
      ],
      "default": "center_center"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section margin top",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section margin bottom",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section padding",
      "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
    }, 
    {
      "type": "header", 
      "content": "Promo Banner Settings"
    },   
    {
      "type": "select",
      "id": "banner_hover",
      "label": "Banner hover effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "zoom",
          "label": "Zoom"
        },
        {
          "value": "zoom-reverse",
          "label": "Zoom-Reverse"
        },
        {
          "value": "background",
          "label": "Background"
        },
        {
          "value": "border",
          "label": "Border"
        }
        ],
        "default": "zoom"
    },  
    {
      "type": "radio",
      "id": "banner_hover_button",
      "label": "Banner hover button position?",
      "options": [
        {
          "value": "static",
          "label": "Static"
        },
        {
          "value": "hover",
          "label": "On Hover"
        }
     ],
     "default": "hover"
    },
    {
      "type": "checkbox",
      "id": "banner_increased_padding",
      "default": false,
      "label": "Banner increased padding?"
    },  
    {
      "type": "header",
      "content": "Carousel Settings"
    },
    {
      "type": "select",
      "id": "carousel_columns",
      "label": "Columns",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "4"
    },
    {
      "type": "text",
      "id": "carousel_autoplay",
      "label": "Autoplay",
      "default": "5000"
    },
    {
      "type": "checkbox",
      "id": "carousel_pagination",
      "default": true,
      "label": "Show pagination control?"
    },
    {
      "type": "checkbox",
      "id": "carousel_navigation",
      "default": true,
      "label": "Show prev/next buttons?"
    },
    {
      "type": "checkbox",
      "id": "carousel_loop",
      "default": true,
      "label": "Slider loop?",
      "info": "Enables loop mode."
    }
  ],
  "blocks": [
	{
      "type": "product",
      "name": "Product Carousel",
	  "limit": 1,
      "settings": [   
        {
          "type": "header",
          "content": "General Settings"
        },
        {
          "type": "select",
          "id": "item_width",
          "label": "Column Width",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "9"
        },
		{
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "limit",
          "label": "Limit",
          "info": "Number of items to show.",
          "default": "8"
        }, 
        {
          "type": "select",
          "id": "hover_product",
          "label": "Hover On Product",
          "info": "Choose one of those hover effects for products",
          "options": [
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "alt",
              "label": "Alternative"
            },
            {
              "value": "info",
              "label": "Full info on image"
            },
            {
              "value": "info-alt",
              "label": "All info on hover"
            },
            {
              "value": "button",
              "label": "Button on image"
            },
            {
              "value": "icon",
              "label": "Icon on image"
            },
            {
              "value": "standard",
              "label": "Standard button"
            },
            {
              "value": "quick",
              "label": "Quick shop"
            },
            {
              "value": "tiled",
              "label": "Tiled"
            }
          ],
          "default": "base"
        }, 
        {
          "type": "select",
          "id": "space_product",
          "label": "Space between products",
          "options": [
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "0",
              "label": "0"
            }
          ],
          "default": "20"
        }
	  ]
	},
    {
      "type": "banner",
      "name": "Banner Image",
	  "limit": 1,
      "settings": [   
        {
          "type": "header",
          "content": "General Settings"
        },
        {
          "type": "select",
          "id": "item_width",
          "label": "Column Width",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "3"
        },
        {
          "type": "checkbox",
          "id": "hidden_mobile",
          "label": "Hidden Banner In Mobile", 
          "default": true
        },
        {
          "type": "checkbox",
          "id": "hidden_tablet",
          "label": "Hidden Banner In Tablet", 
          "default": true
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title", 
          "default": "SUMMER NEW"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title", 
          "default": "AMAZING<br>FASHION"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title", 
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }, 
        {
          "type": "header", 
          "content": "Content Settings"
        }, 
        {
          "type": "select",
          "id": "content_align",
          "label": "Content align",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "select",
          "id": "content_text_align",
          "label": "Content text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }, 
        {
          "type": "select",
          "id": "content_color",
          "label": "Content color",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },  
        {
          "type": "select",
          "id": "subtitle_color",
          "label": "Subtitle Color",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "alt",
              "label": "Alt"
            },
            {
              "value": "primary",
              "label": "Primary"
            }
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "subtitle_style",
          "label": "Subtitle Style",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "background",
              "label": "Background"
            }
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            }, 
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "extra-large",
              "label": "Extra-Large"
            } 
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "title_font_weight",
          "label": "Title Font Weight",
          "options": [
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            }, 
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "600"
        },
        {
          "type": "select",
          "id": "content_inner_size",
          "label": "Inner Content Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            }, 
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            } 
          ],
          "default": "default"
        },
        {
          "type": "header", 
          "content": "Button Settings"
        },  
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "round",
              "label": "Round"
            },
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "3d",
              "label": "3D"
            },
            {
              "value": "bordered",
              "label": "Bordered"
            } 
          ],
          "default": "link"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button Size",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "extra-large",
              "label": "Extra-Large"
            } 
          ],
          "default": "default"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Button Color",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "alt",
              "label": "Alt"
            },
            {
              "value": "primary",
              "label": "Primary"
            } 
          ],
          "default": "default"
        }
      ]
    } 
  ],
  "presets": [
    {
      "name": "Products Carousel & Banner",
      "category": "collection",
      "blocks": [
        {
          "type": "banner",
          "settings": { 
			"item_width": "3",
            "title": "TRISTIQUE JUSTO",
			"content": "Started now shortly had for assured hearing expense led juvenile.",
            "button_title": "Shop Now"
          }
        },
        {
          "type": "product",
          "settings": {
			"item_width": "9"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}