{%- case section.settings.section_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%} 
<div class="product-tab" data-section-id="{{ section.id }}" data-section-type="product-tab-section">
  <div {{data_fullwidth}} id="product-tab-{{section.id}}" class="vc_row wpb_row vc_row-fluid {% if section.settings.hide_background_mobile != blank %}mobile-bg-img-hidden{% endif %} vc_custom_{{section.id}} vc_row-has-fill {% if section.settings.section_layout == '3' %}vc_row-no-padding{% endif %} woodmart-disable-overflow woodmart-bg-left-bottom">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner vc_custom_1505469909236">
        <div class="wpb_wrapper">
          <div class="woodmart-products-tabs tabs-{{section.id}} tabs-design-alt">
            <div class="woodmart-tabs-header">
              <div class="woodmart-tabs-loader"></div>
              {%- if section.settings.title != '' -%}
              <div class="tabs-name">
                <span class="tabs-text">
                  {%- if settings.language_enable -%}
                  <span class="lang1">{{ section.settings.title | split: '|' | first }}</span>
                  <span class="lang2">{{ section.settings.title | split: '|' | last }}</span>
                  {%- else -%}
                  {{ section.settings.title | split: '|' | first }}
                  {%- endif -%}
                </span>
              </div>
              {%- endif -%}
              <div class="tabs-navigation-wrapper">
                <span class="open-title-menu"></span>
                <ul class="products-tabs-title">
                  {%- if section.blocks.size > 0 -%} 
                  {%- for block in section.blocks -%} 
                  {%- if block.settings.collection == blank -%}
                  {%- if collections["frontpage"].products.size > 0 -%}
                  {%- assign collection = collections["frontpage"] -%}
                  {%- else -%}
                  {%- assign collection = collections["all"] -%}
                  {%- endif -%}
                  {%- else -%}
                  {%- assign collection = collections[block.settings.collection] -%}
                  {%- endif -%}
                  {%- assign limit = block.settings.limit | plus: 0 -%}
                  {%- if section.settings.layout_list == 'carousel' -%}
                  <li class="{% if forloop.first %}active-tab-title{% endif %}" data-atts="{{collection.url}}?page=1&q=layout_{{section.settings.layout_list}}+hover_{{block.settings.hover_product}}+columns_{{block.settings.carousel_columns}}+limit_{{limit}}+autoplay_{{block.settings.carousel_autoplay}}+pagination_{{block.settings.carousel_pagination}}+navigation_{{block.settings.carousel_navigation}}+loop_{{block.settings.carousel_loop}}+space_{{section.settings.space_product}}&view=ajax_tab">
                    {%- else -%}
                  <li class="{% if forloop.first %}active-tab-title{% endif %}" data-atts="{{collection.url}}?page=1&q=layout_{{section.settings.layout_list}}+hover_{{block.settings.hover_product}}+columns_{{block.settings.columns}}+limit_{{limit}}+pagination_{{block.settings.pagination}}+space_{{section.settings.space_product}}&view=ajax_tab">
                    {%- endif -%} 
                    <span class="tab-label">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                      <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                      {%- else -%}
                      {{ block.settings.title | split: '|' | first }}
                      {%- endif -%}
                    </span>
                  </li> 
                  {%- endfor -%} 
                  {%- endif -%}
                </ul>
              </div>
            </div>
            <div class="woodmart-tab-content">
              {%- if section.blocks.size > 0 -%} 
              {%- for block in section.blocks -%}
              {%- if forloop.first -%}
              {%- if section.settings.layout_list == 'grid' -%}
              {%- include 'element-tab-content-grid' -%}
              {%- else -%}
              {%- include 'element-tab-content-carousel' -%}
              {%- endif -%}
              {%- endif -%}
              {%- endfor -%} 
              {%- endif -%} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- if section.settings.section_layout != '0' -%}
  <div class="vc_row-full-width vc_clearfix"></div>
  {%- endif -%}
  <style>
    .vc_custom_{{section.id}} { 
      border-top-width: 0px !important; 
      {%- if section.settings.background_image != blank -%}
      background-image: url({{section.settings.background_image | img_url: 'master'}}) !important;
      background-position: {{section.settings.background_position | replace: '_', ' ' }} !important;
      background-repeat: {{section.settings.background_image_repeat}} !important;
      background-size: {{section.settings.background_size}} !important;
      background-attachment: {{section.settings.background_attachment}} !important;
      {%- endif -%}
      background-color: {{section.settings.background_color}};
    }   
    .vc_custom_1496223150522 {margin-bottom: 15px !important;}.vc_custom_{{section.id}}{margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding:{{section.settings.section_padding}};}
  </style>
</div>
{%- schema -%}
{
  "name": "Product Tab 3",
  "settings": [
    {
      "type": "header", 
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "Layout",
      "options": [
        {
          "value": "0",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Fullwidth row"
        },
        {
          "value": "2",
          "label": "Fullwidth row and content"
        },
        {
          "value": "3",
          "label": "Fullwidth row and content (no padding)"
        }
      ],
      "default": "0"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color", 
	  "default": "transparent"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section background image" 
    },
    {
      "type": "checkbox",
      "id": "hide_background_mobile",
      "label": "Hide background image on mobile?", 
	  "default": false
    },
    {
      "type": "select",
      "id": "background_image_repeat",
      "label": "Background Repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat x (Repeat Horizontal)"
        },
        {
          "value": "repeat-y",
          "label": "Repeat y (Repeat Verticle)"
        },
        {
          "value": "repeat",
          "label": "Repeat All"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "background_attachment",
      "label": "Background Attachment",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "left_top",
          "label": "Left Top"
        },
        {
          "value": "left_center",
          "label": "Left Center"
        },
        {
          "value": "left_bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center_top",
          "label": "Center Top"
        },
        {
          "value": "center_center",
          "label": "Center Center"
        },
        {
          "value": "center_bottom",
          "label": "Center Bottom"
        }
      ],
      "default": "center_center"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section margin top",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section margin bottom",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section padding",
      "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
    }, 
    {
      "type": "text",
      "id": "title",
      "label": "Heading tab",
      "default": "OUR PRODUCTS"
    }, 
    {
      "type": "select",
      "id": "layout_list",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        } 
	  ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "space_product",
      "label": "Space between products",
      "options": [
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "0",
          "label": "0"
        }
	  ],
      "default": "20"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "limit",
          "label": "Limit",
          "info": "Number of items to show per page.",
          "default": "8"
        },
        {
          "type": "select",
          "id": "pagination",
          "label": "Pagination",
          "default": "arrows",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "more-btn",
              "label": "Load more button"
            },
            {
              "value": "arrows",
              "label": "Arrows"
            },
            {
              "value": "view-all",
              "label": "View all products"
            }
          ]
        },
        {
          "type": "select",
          "id": "columns",
          "label": "Columns",
          "options": [
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "6",
              "label": "6"
            }
          ],
          "default": "4"
        },
        {
          "type": "select",
          "id": "hover_product",
          "label": "Hover On Product",
          "info": "Choose one of those hover effects for products",
          "options": [
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "alt",
              "label": "Alternative"
            },
            {
              "value": "info",
              "label": "Full info on image"
            },
            {
              "value": "info-alt",
              "label": "All info on hover"
            },
            {
              "value": "button",
              "label": "Button on image"
            },
            {
              "value": "icon",
              "label": "Icon on image"
            },
            {
              "value": "standard",
              "label": "Standard button"
            },
            {
              "value": "quick",
              "label": "Quick shop"
            },
            {
              "value": "tiled",
              "label": "Tiled"
            }
          ],
          "default": "base"
        }, 
        {
          "type": "header",
          "content": "Carousel Settings"
        },
        {
          "type": "select",
          "id": "carousel_columns",
          "label": "Columns",
          "options": [
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "6",
              "label": "6"
            }
          ],
          "default": "4"
        },
        {
          "type": "text",
          "id": "carousel_autoplay",
          "label": "Autoplay",
          "default": "5000"
        },
        {
          "type": "checkbox",
          "id": "carousel_pagination",
          "default": false,
          "label": "Show pagination control?"
        },
        {
          "type": "checkbox",
          "id": "carousel_navigation",
          "default": false,
          "label": "Show prev/next buttons?"
        },
        {
          "type": "checkbox",
          "id": "carousel_loop",
          "default": false,
          "label": "Slider loop?",
          "info": "Enables loop mode."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products Tab 3",
      "category": "collection",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "title": "New"
          }
        },
        {
          "type": "collection",
          "settings": {
            "title": "FEATURED"
          }
        },
        {
          "type": "collection",
          "settings": {
            "title": "Top Rate"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}