{%- case section.settings.section_layout -%}
{%- when '0' -%}
{%- capture data_fullwidth -%}{%- endcapture -%}
{%- when '1' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true"{%- endcapture -%}
{%- when '2' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- when '3' -%}
{%- capture data_fullwidth -%}data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"{%- endcapture -%}
{%- endcase -%} 
<div data-section-id="{{ section.id }}" data-section-type="carousel-section">
  <div {{data_fullwidth}} class="vc_row wpb_row vc_row-fluid {% if section.settings.hide_background_mobile != blank %}mobile-bg-img-hidden{% endif %} vc_custom_{{section.id}} vc_row-has-fill woodmart-bg-center-top {% if section.settings.section_layout == '3' %}vc_row-no-padding{% endif %} woodmart-bg-left-top" style="margin-top:{{section.settings.margin_top | remove: 'px' | append: 'px' }}; margin-bottom:{{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.padding}};">
    {%- if section.settings.bg_gradient != blank -%}
    <div class="woodmart-row-gradient" style="background-image:-webkit-linear-gradient(top , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) 32% , rgb(239, 239, 239) 32%);background-image:-moz-linear-gradient(top , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) 32% , rgb(239, 239, 239) 32%);background-image:-o-linear-gradient(top , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) 32% , rgb(239, 239, 239) 32%);background-image:linear-gradient(top , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) 32% , rgb(239, 239, 239) 32%);background-image:-ms-linear-gradient(top , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) 32% , rgb(239, 239, 239) 32%);"></div>
    {%- endif -%}
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner vc_custom_{{section.id}}2">
        <div class="wpb_wrapper">
          {%- if section.blocks.size > 0 -%} 
          <div class="vc_row wpb_row vc_row-fluid vc_row-has-fill vc_row-o-content-middle vc_row-flex"> 
            {%- for block in section.blocks -%} 
            {%- case block.type -%} 
            {%- when 'newsletter' -%}
            <div class="wpb_column vc_column_container vc_col-lg-{{block.settings.column_width_desktop}} vc_col-md-{{block.settings.column_width_tablet}} vc_col-sm-{{block.settings.column_width_tablet}} vc_col-xs-{{block.settings.column_width_mobile}}{% if block.settings.column_hidden_tablet != blank %} vc_hidden-md{% endif %}{% if block.settings.column_hidden_mobile != blank %} vc_hidden-xs{% endif%} woodmart-parallax{%if block.settings.background_position != 'default' %} woodmart-bg-{{block.settings.background_position | replace: '_', ' ' }}{% endif %} text-{{block.settings.column_text_alignment}}">
              <div class="vc_column-inner vc_custom_{{block.id}}7">
                <div class="wpb_wrapper">
                  <div id="sp-{{block.id}}" class="title-wrapper woodmart-title-color-{{block.settings.heading_color}} woodmart-title-style-{{block.settings.heading_style}} woodmart-title-size-{{block.settings.heading_size}} woodmart-title-width-{{block.settings.heading_width}} text-{{block.settings.heading_postion}}">
                    {%- if block.settings.heading_top != '' -%}
                    <div class="title-subtitle font-default style-{{block.settings.heading_style}}">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ block.settings.heading_top | split: '|' | first }}</span>
                      <span class="lang2">{{ block.settings.heading_top | split: '|' | last }}</span>
                      {%- else -%}
                      {{ block.settings.heading_top | split: '|' | first }}
                      {%- endif -%}
                    </div>
                    {%- endif -%} 
                    {%- if block.settings.title != '' -%}
                    <div class="liner-continer">
                      <span class="left-line"></span>
                      <h4 class="woodmart-title-container title  woodmart-font-weight-">
                        {%- if settings.language_enable -%}
                        <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                        <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                        {%- else -%}
                        {{ block.section.title | split: '|' | first }}
                        {%- endif -%}
                      </h4>
                      <span class="right-line"></span>
                    </div>
                    {%- endif -%} 
                    {%- if block.settings.heading_content != '' -%}
                    <div class="title-after_title">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ block.settings.heading_content | split: '|' | first }}</span>
                      <span class="lang2">{{ block.settings.heading_content | split: '|' | last }}</span>
                      {%- else -%}
                      {{ block.settings.heading_content | split: '|' | first }}
                      {%- endif -%}
                    </div>
                    {%- endif -%}
                    <style> 
                      {%- if block.settings.heading_top == '' and block.settings.title == '' and block.settings.heading_content == '' -%}
                      .vc_custom_{{block.id}}7 .title-wrapper {
                        margin-bottom: 0;
                      }
                      {%- endif -%} 
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_custom_size != blank -%}
                      #sp-{{block.id}} .woodmart-title-container {
                        font-size: {{block.settings.heading_custom_size | remove: 'px' | append: 'px' }};
                        line-height: {{block.settings.heading_custom_size | remove: 'px' | plus: 10 | append: 'px' }};
                      }
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_custom_size_tablet != blank -%}
                      @media(max-width: 1024px){
                        #sp-{{block.id}} .woodmart-title-container {
                          font-size: {{block.settings.heading_custom_size_tablet | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_custom_size_tablet | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_custom_size_phone != blank -%}
                      @media(max-width: 767px){
                        #sp-{{block.id}} .woodmart-title-container {
                          font-size: {{block.settings.heading_custom_size_phone | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_custom_size_phone | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_top_custom_size != blank -%}
                      #sp-{{block.id}} .title-subtitle {
                        font-size: {{block.settings.heading_top_custom_size | remove: 'px' | append: 'px' }};
                        line-height: {{block.settings.heading_top_custom_size | remove: 'px' | plus: 10 | append: 'px' }};
                      }
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_top_custom_size_tablet != blank -%}
                      @media(max-width: 1024px){
                        #sp-{{block.id}} .title-subtitle {
                          font-size: {{block.settings.heading_top_custom_size_tablet | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_top_custom_size_tablet | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_top_custom_size_phone != blank -%}
                      @media(max-width: 767px){
                        #sp-{{block.id}} .title-subtitle {
                          font-size: {{block.settings.heading_top_custom_size_phone | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_top_custom_size_phone | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                    </style>
                  </div> 
                  <div class="wpb_text_column wpb_content_element vc_custom_1510903254413">
                    <div class="wpb_wrapper">
                      {%- if settings.newsletter_form_action != blank -%}
                      {%- assign form_action = settings.newsletter_form_action -%}
                      {%- else -%}
                      {%- assign form_action = '#' -%}
                      {%- endif -%} 
                      <form action="{{ form_action }}" method="post" target="_blank" name="mc-embedded-subscribe-form" class="mc4wp-form mc4wp-form-1446 mc4wp-form-submitted mc4wp-form-error">
                        <div class="mc4wp-form-fields">
                          <p>                        
                            <input id="fc-email" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="EMAIL" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                          </p> 
                          <p style="margin-bottom: 20px;"><button type="submit" name="subscribe" {% if settings.language_enable %}data-translate="general.newsletter_form.subscribe"{% endif %}>{{ 'general.newsletter_form.subscribe' | t }}</button></p>
                        </div>
                      </form>
                    </div>
                  </div>
                  {%- if block.settings.content_newsletter != '' -%}
                  <div class="wpb_text_column wpb_content_element vc_custom_1523883625059">
                    <div class="wpb_wrapper">
                      {%- if settings.language_enable -%}
                      <div class="lang1">{{ block.settings.content_newsletter | split: '|' | first }}</div>
                      <div class="lang2">{{ block.settings.content_newsletter | split: '|' | last }}</div>
                      {%- else -%}
                      {{ block.settings.content_newsletter | split: '|' | first }}
                      {%- endif -%}
                    </div>
                  </div>
                  {%- endif-%}
                </div>
              </div>
              <style>
                .vc_custom_{{ block.id }}7 { 
                  {%- if block.settings.background_color != blank -%}
                  background-color: {{block.settings.background_color}} !important;
                  {%- endif -%}
                  {%- if block.settings.background_image != blank -%}
                  background-image: url({{block.settings.background_image | img_url: 'master' }}) !important;
                  background-position: {{block.settings.background_position | replace: '_', ' ' }} !important;
                  background-repeat: no-repeat !important;
                  background-size: cover !important;
                  {%- endif -%}
                  {%- if block.settings.border_integer != blank -%}
                  border-width: {{block.settings.border_integer | remove: ' ' | split: '-' | join: ' '}} !important;
                  border-color: {{block.settings.border_color}} !important;
                  border-style: {{block.settings.border_style}} !important;
                  {%- endif -%}
                  {%- if block.settings.margin_top != blank -%}
                  margin-top: {{block.settings.margin_top | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.margin_bottom != blank -%}
                  margin-bottom: {{block.settings.margin_bottom | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_top != blank -%}
                  padding-top: {{block.settings.padding_top | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_right != blank -%}
                  padding-right: {{block.settings.padding_right | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_bottom != blank -%}
                  padding-bottom: {{block.settings.padding_bottom | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_left != blank -%}
                  padding-left: {{block.settings.padding_left | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                } 
              </style>
            </div> 
            {%- else -%}
            <div class="wpb_column vc_column_container vc_col-lg-{{block.settings.column_width_desktop}} vc_col-md-{{block.settings.column_width_tablet}} vc_col-sm-{{block.settings.column_width_tablet}} vc_col-xs-{{block.settings.column_width_mobile}}{% if block.settings.column_hidden_tablet != blank %} vc_hidden-md{% endif %}{% if block.settings.column_hidden_mobile != blank %} vc_hidden-xs{% endif%} woodmart-parallax{%if block.settings.background_position != 'default' %} woodmart-bg-{{block.settings.background_position | replace: '_', ' ' }}{% endif %} text-{{block.settings.column_text_alignment}}">
              <div class="vc_column-inner vc_custom_{{block.id}}7">
                <div class="wpb_wrapper">
                  <div id="sp-{{block.id}}" class="title-wrapper woodmart-title-color-{{block.settings.heading_color}} woodmart-title-style-{{block.settings.heading_style}} woodmart-title-size-{{block.settings.heading_size}} woodmart-title-width-{{block.settings.heading_width}} text-{{block.settings.heading_postion}}">
                    {%- if block.settings.heading_top != '' -%}
                    <div class="title-subtitle font-default style-{{block.settings.heading_style}}">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ block.settings.heading_top | split: '|' | first }}</span>
                      <span class="lang2">{{ block.settings.heading_top | split: '|' | last }}</span>
                      {%- else -%}
                      {{ block.settings.heading_top | split: '|' | first }}
                      {%- endif -%}
                    </div>
                    {%- endif -%} 
                    {%- if block.settings.title != '' -%}
                    <div class="liner-continer">
                      <span class="left-line"></span>
                      <h4 class="woodmart-title-container title  woodmart-font-weight-">
                        {%- if settings.language_enable -%}
                        <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                        <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                        {%- else -%}
                        {{ block.section.title | split: '|' | first }}
                        {%- endif -%}
                      </h4>
                      <span class="right-line"></span>
                    </div>
                    {%- endif -%}
                    {%- if block.settings.heading_content != '' -%}
                    <div class="title-after_title">
                      {%- if settings.language_enable -%}
                      <span class="lang1">{{ block.settings.heading_content | split: '|' | first }}</span>
                      <span class="lang2">{{ block.settings.heading_content | split: '|' | last }}</span>
                      {%- else -%}
                      {{ block.settings.heading_content | split: '|' | first }}
                      {%- endif -%}
                    </div>
                    {%- endif -%}
                    <style> 
                      {%- if block.settings.heading_top == '' and block.settings.title == '' -%}
                      .vc_custom_{{block.id}}7 .title-wrapper {
                        margin-bottom: 0;
                      }
                      {%- endif -%} 
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_custom_size != blank -%}
                      #sp-{{block.id}} .woodmart-title-container {
                        font-size: {{block.settings.heading_custom_size | remove: 'px' | append: 'px' }};
                        line-height: {{block.settings.heading_custom_size | remove: 'px' | plus: 10 | append: 'px' }};
                      }
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_custom_size_tablet != blank -%}
                      @media(max-width: 1024px){
                        #sp-{{block.id}} .woodmart-title-container {
                          font-size: {{block.settings.heading_custom_size_tablet | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_custom_size_tablet | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_custom_size_phone != blank -%}
                      @media(max-width: 767px){
                        #sp-{{block.id}} .woodmart-title-container {
                          font-size: {{block.settings.heading_custom_size_phone | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_custom_size_phone | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_top_custom_size != blank -%}
                      #sp-{{block.id}} .title-subtitle {
                        font-size: {{block.settings.heading_top_custom_size | remove: 'px' | append: 'px' }};
                        line-height: {{block.settings.heading_top_custom_size | remove: 'px' | plus: 10 | append: 'px' }};
                      }
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_top_custom_size_tablet != blank -%}
                      @media(max-width: 1024px){
                        #sp-{{block.id}} .title-subtitle {
                          font-size: {{block.settings.heading_top_custom_size_tablet | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_top_custom_size_tablet | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                      {%- if block.settings.heading_size == 'custom' and block.settings.heading_top_custom_size_phone != blank -%}
                      @media(max-width: 767px){
                        #sp-{{block.id}} .title-subtitle {
                          font-size: {{block.settings.heading_top_custom_size_phone | remove: 'px' | append: 'px' }};
                          line-height: {{block.settings.heading_top_custom_size_phone | remove: 'px' | plus: 10 | append: 'px' }};
                        }
                      } 
                      {%- endif-%}
                    </style>
                  </div>
                  <div id="slide_{{section.id}}" class="testimonials-wrapper">
                    <div class="data-carousel" data-auto="{{ section.settings.autoplay }}" data-items="1" data-1200="1" data-992="1" data-768="1" data-480="1" data-320="1" data-paging="{{section.settings.pagination}}" data-nav="{{section.settings.navigation}}" data-margin="0" data-prev='' data-loop="{{section.settings.loop}}" data-next='' style="display: none;"></div>
                    <div class="testimonials testimonials-slider testimon-style-standard testimon-columns-3 testimon-align-center owl-carousel">
                      {%- for i in (1..5) -%}
                      {%- assign avata = 'image_' | append:i -%}
                      {%- assign content = 'content_' | append:i -%}
                      {%- assign info = 'info_' | append:i -%}
                      {%- if block.settings[avata] != blank or block.settings[content] != blank -%}
                      <div class="testimonial ">
                        <div class="testimonial-inner">
                          <div class="testimonial-avatar">
                            <img class="testimonial-avatar-image " src="{{block.settings[avata] | img_url: '100x100'}}" width="100" height="100">
                          </div>
                          <div class="testimonial-content">
                            {%- if settings.language_enable -%}
                            <div class="lang1">{{ block.settings[content] | split: '[lang2]' | first }}</div>
                            <div class="lang2">{{ block.settings[content] | split: '[lang2]' | last }}</div>
                            {%- else -%}
                            {{ block.settings[content] | split: '[lang2]' | first }}
                            {%- endif -%} 
                            <footer>
                              {%- if settings.language_enable -%}
                              <div class="lang1">{{ block.settings[info] | split: '[lang2]' | first }}</div>
                              <div class="lang2">{{ block.settings[info] | split: '[lang2]' | last }}</div>
                              {%- else -%}
                              {{ block.settings[info] | split: '[lang2]' | first }}
                              {%- endif -%}
                            </footer>
                          </div>
                        </div>
                      </div>
                      {%- endif -%}
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              </div>
              <style>
                .vc_custom_{{ block.id }}7 { 
                  {%- if block.settings.background_color != blank -%}
                  background-color: {{block.settings.background_color}} !important;
                  {%- endif -%}
                  {%- if block.settings.background_image != blank -%}
                  background-image: url({{block.settings.background_image | img_url: 'master' }}) !important;
                  background-position: {{block.settings.background_position | replace: '_', ' ' }} !important;
                  background-repeat: no-repeat !important;
                  background-size: cover !important;
                  {%- endif -%}
                  {%- if block.settings.border_integer != blank -%}
                  border-width: {{block.settings.border_integer | remove: ' ' | split: '-' | join: ' '}} !important;
                  border-color: {{block.settings.border_color}} !important;
                  border-style: {{block.settings.border_style}} !important;
                  {%- endif -%}
                  {%- if block.settings.margin_top != blank -%}
                  margin-top: {{block.settings.margin_top | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.margin_bottom != blank -%}
                  margin-bottom: {{block.settings.margin_bottom | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_top != blank -%}
                  padding-top: {{block.settings.padding_top | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_right != blank -%}
                  padding-right: {{block.settings.padding_right | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_bottom != blank -%}
                  padding-bottom: {{block.settings.padding_bottom | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                  {%- if block.settings.padding_left != blank -%}
                  padding-left: {{block.settings.padding_left | remove: 'px' | append: 'px'}} !important;
                  {%- endif -%}
                } 
              </style>
            </div> 
          	{%- endcase -%}
            {%- endfor -%}
          </div>
          {%- endif -%}
        </div>
      </div> 
    </div>
  </div>
  {%- if section.settings.section_layout != '0' -%}
  <div class="vc_row-full-width vc_clearfix"></div>
  {%- endif -%}
  <style>
    .vc_custom_{{section.id}} { 
      border-top-width: 0px !important; 
      {%- if section.settings.background_image != blank -%}
      background-image: url({{section.settings.background_image | img_url: 'master'}}) !important;
      background-position: {{section.settings.background_position | replace: '_', ' ' }} !important;
      background-repeat: {{section.settings.background_image_repeat}} !important;
      background-size: {{section.settings.background_size}} !important;
      background-attachment: {{section.settings.background_attachment}} !important;
      {%- endif -%}
      background-color:{{section.settings.bg_color}};
    }  
    .vc_custom_{{section.id}}2 {
      background-color: {{section.settings.bg_inner_color}};
      padding-top: 0 !important;
    }
    .vc_custom_1510903254413 {
      margin-bottom: 15px!important;
    }
    .vc_custom_1523883625059 {
      margin-bottom: 0px!important;
    }
  </style>
</div>
{% schema %}
{
  "name": "Testimonials & Newsletter",
  "max_blocks": 2,
  "settings": [ 
    {
      "type": "header", 
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "Layout",
      "options": [
        {
          "value": "0",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Fullwidth row"
        },
        {
          "value": "2",
          "label": "Fullwidth row and content"
        },
        {
          "value": "3",
          "label": "Fullwidth row and content (no padding)"
        }
      ],
      "default": "1"
    },  
    {
      "type": "checkbox",
      "id": "bg_gradient",
      "label": "Background color gradient use?",
      "default" : false
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "bg_inner_color",
      "label": "Background Inner Color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section background image" 
    },
    {
      "type": "checkbox",
      "id": "hide_background_mobile",
      "label": "Hide background image on mobile?", 
	  "default": false
    },
    {
      "type": "select",
      "id": "background_image_repeat",
      "label": "Background Repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat x (Repeat Horizontal)"
        },
        {
          "value": "repeat-y",
          "label": "Repeat y (Repeat Verticle)"
        },
        {
          "value": "repeat",
          "label": "Repeat All"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background Size",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "background_attachment",
      "label": "Background Attachment",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "scroll",
          "label": "Scroll"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background Position",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "left_top",
          "label": "Left Top"
        },
        {
          "value": "left_center",
          "label": "Left Center"
        },
        {
          "value": "left_bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center_top",
          "label": "Center Top"
        },
        {
          "value": "center_center",
          "label": "Center Center"
        },
        {
          "value": "center_bottom",
          "label": "Center Bottom"
        }
      ],
      "default": "center_center"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section Margin Top",
	  "info": "45px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section Margin Bottom",
      "default" : "46px",
	  "info": "45px"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "default" : "58px 0 58px 0",
      "info": "Ex:(40px 40px 40px) (top right bottom left)"
    },  
    {
      "type": "header", 
      "content": "Carousel Settings"
    },
    {
      "type": "text",
      "id": "autoplay",
      "label": "Slideshow",
      "info": "Change to any integrer for example 5000 to play every 5 seconds. Leave empty to disable autoplay.",
 	  "default": "5000"
    },  
    {
      "type": "checkbox",
      "id": "navigation",
      "label": "Show Navigation",
      "default" : true
    },  
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "Show Pagination",
      "default" : false
    },  
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Enable Slide Loop",
      "default" : true
    }
  ], 
  "blocks": [
    {
      "type": "newsletter",
      "name": "Newsletter",
	  "limit": 1,
      "settings": [
        {
          "type": "header", 
          "content": "= Column Settings"
        },   
		{
          "type": "header", 
          "content": "== Design Options"
        },  
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "___Background Image"
        },
        {
          "type": "select",
          "id": "background_position",
          "label": "___Background Position",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "left_top",
              "label": "Left Top"
            },
            {
              "value": "left_center",
              "label": "Left Center"
            },
            {
              "value": "left_bottom",
              "label": "Left Bottom"
            },
            {
              "value": "center_top",
              "label": "Center Top"
            },
            {
              "value": "center_center",
              "label": "Center Center"
            },
            {
              "value": "center_bottom",
              "label": "Center Bottom"
            }
          ],
          "default": "center_center"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "___Background Color"
        },  
        {
          "type": "color",
          "id": "border_color",
          "label": "___Border Color"
        },
        {
          "type": "select",
          "id": "border_style",
          "label": "___Border Style", 
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "dotted",
              "label": "Dotted"
            },
            {
              "value": "dashed",
              "label": "Dashed"
            },
            {
              "value": "double",
              "label": "Double"
            },
            {
              "value": "groove",
              "label": "Groove"
            },
            {
              "value": "ridge",
              "label": "Ridge"
            },
            {
              "value": "inset",
              "label": "Inset"
            },
            {
              "value": "outset",
              "label": "Ouset"
            }
          ]
        }, 
        {
          "type": "text",
          "id": "border_integer",
          "label": "___Borders Integer px ( top-right-bottom-left )",
 		  "info": "0-0-1px-0"
        },
        {
          "type": "text",
          "id": "margin_top",
          "label": "___Margin Top",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "margin_bottom",
          "label": "___Margin Bottom",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_top",
          "label": "___Padding Top",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_right",
          "label": "___Padding Right",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_bottom",
          "label": "___Padding Bottom",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_left",
          "label": "___Padding Left",
 		  "info": "30px"
        },
        {
          "type": "select",
          "id": "column_text_alignment",
          "label": "___Column Text alignment", 
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "text",
          "id": "extra_class",
          "label": "___Extra class name"
        },
		{
          "type": "header", 
          "content": "== Responsive Options"
        },
        {
          "type": "select",
          "id": "column_width_desktop",
          "label": "___Column Width Desktop",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "6"
        }, 
        {
          "type": "select",
          "id": "column_width_tablet",
          "label": "___Column Width Tablet",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "6"
        }, 
        {
          "type": "select",
          "id": "column_width_mobile",
          "label": "___Column Width Mobile",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "12"
        },
        {
          "type": "checkbox",
          "id": "column_hidden_tablet",
          "label": "___Hide on tablet?",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "column_hidden_mobile",
          "label": "___Hide on mobile?",
          "default": false
        },
		{
          "type": "header", 
          "content": "= Newsletter Settings"
        }, 
		{
          "type": "header", 
          "content": "== General"
        },
        {
          "type": "text",
          "id": "heading_top",
          "label": "___Heading Top",
          "default": "JOIN OUR NEWSLETTER NOW"
        },
        {
          "type": "text",
          "id": "title",
          "label": "___Heading",
          "default": "DO YOU LIKE THE THEME?<br>SHARE WITH YOUR FRIENDS!"
        },
        {
          "type": "textarea",
          "id": "heading_content",
          "label": "___Content"
        }, 
        {
          "type": "textarea",
          "id": "content_newsletter",
          "label": "___Content Newsletter",
          "default": "<p style=\"text-align: center\">Will be used in accordance with our <a href=\"https://woodmart.xtemos.com/faqs-two/\"><strong>Privacy Policy</strong></a></p>"
        }, 
        {
          "type": "select",
          "id": "heading_style",
          "label": "___Heading Style",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "simple",
              "label": "Simple"
            },
            {
              "value": "bordered",
              "label": "Bordered"
            },
            {
              "value": "underlined",
              "label": "Underlined"
            },
            {
              "value": "shadow",
              "label": "Shadow"
            } 
          ]
        },
        {
          "type": "select",
          "id": "heading_color",
          "label": "___Heading Color",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "alt",
              "label": "Alt"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            } 
          ]
        },
        {
          "type": "select",
          "id": "heading_postion",
          "label": "___Heading Text Algin",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            } 
          ]
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "___Heading Text Size",
          "default": "medium",
          "options": [
            {
              "value": "custom",
              "label": "Custom"
            },
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "extra-large",
              "label": "Extra Large"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_width",
          "label": "___Heading Width",
          "default": "100",
          "options": [
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "90",
              "label": "90"
            },
            {
              "value": "80",
              "label": "80"
            },
            {
              "value": "70",
              "label": "70"
            },
            {
              "value": "60",
              "label": "60"
            } ,
            {
              "value": "50",
              "label": "50"
            },
            {
              "value": "40",
              "label": "40"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "10",
              "label": "10"
            }
          ]
        }, 
        {
          "type": "text",
          "id": "heading_custom_size",
          "label": "___Heading Custom Size"
        },
        {
          "type": "text",
          "id": "heading_custom_size_tablet",
          "label": "___Heading Custom Size On Tablet"
        },
        {
          "type": "text",
          "id": "heading_custom_size_phone",
          "label": "___Heading Custom Size On Phone"
        },
        {
          "type": "text",
          "id": "heading_top_custom_size",
          "label": "___Heading Top Custom Size"
        },
        {
          "type": "text",
          "id": "heading_top_custom_size_tablet",
          "label": "___Heading Top Custom Size On Tablet"
        },
        {
          "type": "text",
          "id": "heading_top_custom_size_phone",
          "label": "___Heading Top Custom Size On Phone"
        }
      ]
    }, 
    {
      "type": "testimonials",
      "name": "Testimonials",
	  "limit": 1,
      "settings": [ 
        {
          "type": "header", 
          "content": "= Column Settings"
        },   
		{
          "type": "header", 
          "content": "== Design Options"
        },  
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "___Background Image"
        },
        {
          "type": "select",
          "id": "background_position",
          "label": "___Background Position",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "left_top",
              "label": "Left Top"
            },
            {
              "value": "left_center",
              "label": "Left Center"
            },
            {
              "value": "left_bottom",
              "label": "Left Bottom"
            },
            {
              "value": "center_top",
              "label": "Center Top"
            },
            {
              "value": "center_center",
              "label": "Center Center"
            },
            {
              "value": "center_bottom",
              "label": "Center Bottom"
            }
          ],
          "default": "center_center"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "___Background Color"
        },  
        {
          "type": "color",
          "id": "border_color",
          "label": "___Border Color"
        },
        {
          "type": "select",
          "id": "border_style",
          "label": "___Border Style", 
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "dotted",
              "label": "Dotted"
            },
            {
              "value": "dashed",
              "label": "Dashed"
            },
            {
              "value": "double",
              "label": "Double"
            },
            {
              "value": "groove",
              "label": "Groove"
            },
            {
              "value": "ridge",
              "label": "Ridge"
            },
            {
              "value": "inset",
              "label": "Inset"
            },
            {
              "value": "outset",
              "label": "Ouset"
            }
          ]
        }, 
        {
          "type": "text",
          "id": "border_integer",
          "label": "___Borders Integer px ( top-right-bottom-left )",
 		  "info": "0-0-1px-0"
        },
        {
          "type": "text",
          "id": "margin_top",
          "label": "___Margin Top",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "margin_bottom",
          "label": "___Margin Bottom",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_top",
          "label": "___Padding Top",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_right",
          "label": "___Padding Right",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_bottom",
          "label": "___Padding Bottom",
 		  "info": "30px"
        },
        {
          "type": "text",
          "id": "padding_left",
          "label": "___Padding Left",
 		  "info": "30px"
        },
        {
          "type": "select",
          "id": "column_text_alignment",
          "label": "___Column Text alignment", 
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "text",
          "id": "extra_class",
          "label": "___Extra class name"
        },
		{
          "type": "header", 
          "content": "== Responsive Options"
        },
        {
          "type": "select",
          "id": "column_width_desktop",
          "label": "___Column Width Desktop",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "6"
        }, 
        {
          "type": "select",
          "id": "column_width_tablet",
          "label": "___Column Width Tablet",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "6"
        }, 
        {
          "type": "select",
          "id": "column_width_mobile",
          "label": "___Column Width Mobile",
          "options": [
            {
              "value": "1",
              "label": "1/12"
            },
            {
              "value": "2",
              "label": "2/12"
            },
            {
              "value": "3",
              "label": "3/12"
            },
            {
              "value": "4",
              "label": "4/12"
            },
            {
              "value": "5",
              "label": "5/12"
            },
            {
              "value": "6",
              "label": "6/12"
            },
            {
              "value": "7",
              "label": "7/12"
            },
            {
              "value": "8",
              "label": "8/12"
            },
            {
              "value": "9",
              "label": "9/12"
            },
            {
              "value": "10",
              "label": "10/12"
            },
            {
              "value": "11",
              "label": "11/12"
            },
            {
              "value": "12",
              "label": "12/12"
            }
          ],
          "default": "12"
        },
        {
          "type": "checkbox",
          "id": "column_hidden_tablet",
          "label": "___Hide on tablet?",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "column_hidden_mobile",
          "label": "___Hide on mobile?",
          "default": false
        },
		{
          "type": "header", 
          "content": "= Testimonials Settings"
        }, 
		{
          "type": "header", 
          "content": "== General"
        },
        {
          "type": "text",
          "id": "heading_top",
          "label": "___Heading Top",
          "default": "Adipisicing elit"
        },
        {
          "type": "text",
          "id": "title",
          "label": "___Heading",
          "default": "WHAT OUR CLIENTS SAY"
        }, 
        {
          "type": "select",
          "id": "heading_style",
          "label": "___Heading Style",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "simple",
              "label": "Simple"
            },
            {
              "value": "bordered",
              "label": "Bordered"
            },
            {
              "value": "underlined",
              "label": "Underlined"
            },
            {
              "value": "shadow",
              "label": "Shadow"
            } 
          ]
        },
        {
          "type": "select",
          "id": "heading_color",
          "label": "___Heading Color",
          "default": "default",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "alt",
              "label": "Alt"
            },
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            } 
          ]
        },
        {
          "type": "select",
          "id": "heading_postion",
          "label": "___Heading Text Algin",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            } 
          ]
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "___Heading Text Size",
          "default": "medium",
          "options": [
            {
              "value": "custom",
              "label": "Custom"
            },
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "extra-large",
              "label": "Extra Large"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_width",
          "label": "___Heading Width",
          "default": "100",
          "options": [
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "90",
              "label": "90"
            },
            {
              "value": "80",
              "label": "80"
            },
            {
              "value": "70",
              "label": "70"
            },
            {
              "value": "60",
              "label": "60"
            } ,
            {
              "value": "50",
              "label": "50"
            },
            {
              "value": "40",
              "label": "40"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "10",
              "label": "10"
            }
          ]
        }, 
        {
          "type": "text",
          "id": "heading_custom_size",
          "label": "___Heading Custom Size"
        },
        {
          "type": "text",
          "id": "heading_custom_size_tablet",
          "label": "___Heading Custom Size On Tablet"
        },
        {
          "type": "text",
          "id": "heading_custom_size_phone",
          "label": "___Heading Custom Size On Phone"
        },
        {
          "type": "text",
          "id": "heading_top_custom_size",
          "label": "___Heading Top Custom Size"
        },
        {
          "type": "text",
          "id": "heading_top_custom_size_tablet",
          "label": "___Heading Top Custom Size On Tablet"
        },
        {
          "type": "text",
          "id": "heading_top_custom_size_phone",
          "label": "___Heading Top Custom Size On Phone"
        }, 
		{
          "type": "header", 
          "content": "= Testimonial items"
        },
		{
          "type": "header", 
          "content": "== Item 1"
        },
		{
          "type": "image_picker",
          "id": "image_1",
          "label": "___Avata"
        },
        {
          "type": "textarea",
          "id": "content_1",
          "label": "___Content",
		  "default": "A faucibus ullamcorper metus class suspendisse scelerisque dui a eget amet pulvinar purus elementum scelerisque massa cursus dolor turpis facilisis a adipiscing penatibus.Id sed molestie mi adipiscing bibendum elit a adipiscing ad malesuada a platea suspendisse varius a magnis taciti consectetur hac a malesuada ante bibendum."
        }, 
        {
          "type": "textarea",
          "id": "info_1",
          "label": "___Info",
		  "default": "Katell Oanez <span>Happy Customer</span>"
        },
		{
          "type": "header", 
          "content": "== Item 2"
        },
		{
          "type": "image_picker",
          "id": "image_2",
          "label": "___Avata"
        },
        {
          "type": "textarea",
          "id": "content_2",
          "label": "___Content",
		  "default": "A faucibus ullamcorper metus class suspendisse scelerisque dui a eget amet pulvinar purus elementum scelerisque massa cursus dolor turpis facilisis a adipiscing penatibus.Id sed molestie mi adipiscing bibendum elit a adipiscing ad malesuada a platea suspendisse varius a magnis taciti consectetur hac a malesuada ante bibendum."
        }, 
        {
          "type": "textarea",
          "id": "info_2",
          "label": "___Info",
		  "default": "Katell Oanez <span>Happy Customer</span>"
        },
		{
          "type": "header", 
          "content": "== Item 3"
        },
		{
          "type": "image_picker",
          "id": "image_3",
          "label": "___Avata"
        },
        {
          "type": "textarea",
          "id": "content_3",
          "label": "___Content",
		  "default": "A faucibus ullamcorper metus class suspendisse scelerisque dui a eget amet pulvinar purus elementum scelerisque massa cursus dolor turpis facilisis a adipiscing penatibus.Id sed molestie mi adipiscing bibendum elit a adipiscing ad malesuada a platea suspendisse varius a magnis taciti consectetur hac a malesuada ante bibendum."
        }, 
        {
          "type": "textarea",
          "id": "info_3",
          "label": "___Info",
		  "default": "Katell Oanez <span>Happy Customer</span>"
        },
		{
          "type": "header", 
          "content": "== Item 4"
        },
		{
          "type": "image_picker",
          "id": "image_4",
          "label": "___Avata"
        },
        {
          "type": "textarea",
          "id": "content_4",
          "label": "___Content",
		  "default": "A faucibus ullamcorper metus class suspendisse scelerisque dui a eget amet pulvinar purus elementum scelerisque massa cursus dolor turpis facilisis a adipiscing penatibus.Id sed molestie mi adipiscing bibendum elit a adipiscing ad malesuada a platea suspendisse varius a magnis taciti consectetur hac a malesuada ante bibendum."
        }, 
        {
          "type": "textarea",
          "id": "info_4",
          "label": "___Info",
		  "default": "Katell Oanez <span>Happy Customer</span>"
        },
		{
          "type": "header", 
          "content": "== Item 5"
        },
		{
          "type": "image_picker",
          "id": "image_5",
          "label": "___Avata"
        },
        {
          "type": "textarea",
          "id": "content_5",
          "label": "___Content",
		  "default": "A faucibus ullamcorper metus class suspendisse scelerisque dui a eget amet pulvinar purus elementum scelerisque massa cursus dolor turpis facilisis a adipiscing penatibus.Id sed molestie mi adipiscing bibendum elit a adipiscing ad malesuada a platea suspendisse varius a magnis taciti consectetur hac a malesuada ante bibendum."
        }, 
        {
          "type": "textarea",
          "id": "info_5",
          "label": "___Info",
		  "default": "Katell Oanez <span>Happy Customer</span>"
        }
      ]
    } 
  ],
  "presets": [{
    "name": "Testimonials & Newsletter",
    "category": "Text Section", 
    "blocks": [
      {
        "type": "newsletter" 
      },
      {
        "type": "testimonials" 
      } 
    ]
  }]
}
{% endschema %}
